<title>Leaderboard</title>

<kudos-navbar></kudos-navbar>

<div class="container">
    <div class="panel panel-body">
        <div ng-hide="!showLoader" class="loader"></div>
        <ul class="nav nav-pills">
            <li role="presentation" class="tab-item" ng-class="topReceivers ? '' : 'active'">
                <a href="" ng-click="topReceivers=false;topSenders=true;">Top receivers</a>
            </li>
            <li role="presentation" class="tab-item" ng-class="topSenders ? '' : 'active'">
                <a href="" ng-click="topSenders=false;topReceivers=true;">Top senders</a>
            </li>
        </ul>

        <div ng-hide="topReceivers">
            <kudos-top-receivers></kudos-top-receivers>
        </div>
        <div ng-hide="topSenders">
            <kudos-top-senders></kudos-top-senders>
        </div>
    </div>
</div>
