<div class="text-center">
    <div ng-if="showList" class="card box4 box-shadow-animation" ng-repeat="givenChallenges in givenChallengesCollection | orderBy:'-timestamp'">
        <p class="card-text"><span class="bold">{{givenChallenges.name}}</span>
            <span class="badge acorn-bg">{{acornPlural(givenChallenges.amount * 2)}}</span>
        </p>
        Participant:
        <span class="bold" ng-if="givenChallenges.participant != userEmail">{{givenChallenges.participant}}</span>
        <p ng-if="givenChallenges.description">Description: {{givenChallenges.description}}</p>
        <p ng-if="givenChallenges.finishDate">Finish date: {{convertDate(givenChallenges.finishDate)}}</p>

        <div ng-show="doesDateExist($index)">
            <button ng-hide="buttons" class="btn btn-danger btn-challenge-participated" ng-click="cancelChallenge($index); buttons = true">Cancel challenge</button>
        </div>
    </div>

    <div ng-if="!showList">
        <div class="alert alert-info acorn-bg margin-top">
            <span class="glyphicon glyphicon-info-sign"></span>
            You have not Challenged anyone
        </div>
    </div>
</div>