<div class="card card-block text-center">
        <li ng-click="!givenChallenges.show ? showMoreInfo($index) : showLessInfo($index)" ng-repeat="givenChallenges in givenChallengesCollection | orderBy:'-timestamp'"
            class="animate-repeat list-group-item">
            <i ng-click="cancelChallenge($index)" ng-show="doesDateExist($index)" class="glyphicon glyphicon-remove leftAlignment"></i>
            <span>{{givenChallenges.name}}</span>
            <span class="acorn-bg badge">{{acornPlural(givenChallenges.amount)}}</span>
            <div ng-show="givenChallenges.show" align="left">
                <div>
                    <span class="bold" ng-if="givenChallenges.description">{{'ProfileMeDescription' | translate}}: </span>
                    <span>{{givenChallenges.description}}</span>
                </div>
                <div>
                    <span class="bold">{{'ProfileMeChallengeReceiver' | translate}}: </span>
                    <span>{{givenChallenges.participant}}</span>
                </div>
                <div>
                    <span class="bold" ng-if="givenChallenges.finishDate">{{'ProfileMeExpirationDate' | translate}}: </span>
                    <span>{{convertDate(givenChallenges.finishDate)}}</span>
                </div>
            </div>
        </li>

        <div>
            <div class="alert alert-info acorn-bg">
                <span class="glyphicon glyphicon-info-sign"></span>
                You have not Challenged anyone
            </div>
        </div>
</div>