<ul class="nav nav-pills">
    <li role="presentation" ng-class="$ctrl.allOperations ? 'active' : ''"><a href="" ng-click="$ctrl.changeView('all'); $ctrl.updateListAll($ctrl.currentUser.email, true)">All</a></li>
    <li role="presentation" ng-class="$ctrl.receivedOperations ? 'active' : ''"><a href="" ng-click="$ctrl.changeView('received'); $ctrl.updateListReceived($ctrl.currentUser.email, true)">Received</a></li>
    <li role="presentation" ng-class="$ctrl.gaveOperations ? 'active' : ''"><a href="" ng-click="$ctrl.changeView('gave'); $ctrl.updateListGave($ctrl.currentUser.email, true)">Gave</a></li>
    <li role="presentation" ng-class="$ctrl.challengeOperations ? 'active' : ''"><a href="" ng-click="$ctrl.changeView('challenges'); $ctrl.updateListChallenges($ctrl.currentUser.email, true)">Challenges</a></li>
</ul>

<ng-include ng-if="$ctrl.allOperations" src="'app/components/kudos-user-history/partials/all.view.html'"></ng-include>
<ng-include ng-if="$ctrl.receivedOperations" src="'app/components/kudos-user-history/partials/received.view.html'"></ng-include>
<ng-include ng-if="$ctrl.gaveOperations" src="'app/components/kudos-user-history/partials/gave.view.html'"></ng-include>
<ng-include ng-if="$ctrl.challengeOperations" src="'app/components/kudos-user-history/partials/challenges.view.html'"></ng-include>

<div ng-if="$ctrl.transactionHistory[0]" class="text-right" style="margin-top: 10px">
    <button ng-if="$ctrl.showLessButton" class="btn btn-default" ng-click="$ctrl.showMoreLess('less')">
        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> Show less
    </button>
    <button ng-if="$ctrl.showMoreButton" class="btn acorn-bg-darker" ng-click="$ctrl.showMoreLess('more')">
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Show more
    </button>
</div>