<div class="text-center">
    <div class="box4"
         ng-repeat="outgoingKudos in outgoingKudosCollection | orderBy:'-timestamp' | limitTo: outgoingKudosShowLimit">
        You sent
            <span class="badge acorn-bg">{{acornPlural(outgoingKudos.amount)}}</span> to
            <span class="bold">{{outgoingKudos.receiver}}</span> on
            <span>{{outgoingKudos.timestamp}}</span>
            <div ng-if="outgoingKudos.message != '' && outgoingKudos.message != null" class="acorns-message">
                <p ><span class="glyphicon glyphicon-envelope"></span> {{outgoingKudos.message}}</p>
            </div>

    </div>

    <div ng-if="!sentKudosTable" class="alert alert-info acorn-bg">
        <span class="glyphicon glyphicon-info-sign"></span>
        {{'ProfileMeSentAcorns' | translate}}
    </div>

    <div class="showMore">
        <button ng-show="lessOutgoing" ng-click="showLessOutgoingKudos(); lessOutgoing = false" type="button"
                class="btn btn-default btn-sm">
            {{'ProfileShowLess' | translate}}
        </button>
        <button ng-click="showMoreOutgoingKudos(); lessOutgoing = true" ng-show="moreOutgoing" type="button"
                class="btn btn-default btn-sm">
            {{'ProfileShowMore' | translate}}
        </button>
    </div>
</div>