<h3>{{ 'ProfileMeSentCorns' | translate }}</h3>
<div class="table-responsive">
    <table ng-show="sentKudosTable" class="table">
        <colgroup>
            <col class="col-xs-6"/>
            <col class="col-xs-2"/>
            <col class="col-xs-4"/>
        </colgroup>
        <thead>
        <tr>
            <th>{{ 'ProfileMeColleague' | translate }}</th>
            <th>{{'ProfileACorn' | translate }}</th>
            <th>{{'ProfileMeDate' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-repeat"
            ng-repeat="outgoingKudos in outgoingKudosCollection | orderBy:'-timestamp' | limitTo: outgoingKudosShowLimit">
            <td>{{outgoingKudos.receiver}}</td>
            <td>{{outgoingKudos.amount}}</td>
            <td>{{outgoingKudos.timestamp}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-if="!sentKudosTable" class="alert alert-info acorn-bg">
    <span class="glyphicon glyphicon-info-sign"></span>
    {{'ProfileMeSentAcorns' | translate}}
</div>

<button ng-click="showMoreOutgoingKudos(); lessOutgoing = true" ng-show="moreOutgoing" type="button"
        class="btn btn-default btn-sm">
    {{'ProfileShowMore' | translate}}
</button>
<button ng-show="lessOutgoing" ng-click="showLessOutgoingKudos(); lessOutgoing = false" type="button"
        class="btn btn-default btn-sm">
    {{'ProfileShowLess' | translate}}
</button>