<title>{{ 'registrationTitle' | translate }}</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#login" class="" id="login-form-link">{{ 'registrationLogin' | translate }}</a>
            </div>
            <div class="col-xs-6">
              <a href="" class="active" id="register-form-link">{{ 'registrationTitle' | translate }}</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
                <form id="registrationForm" name="registrationForm">
                  <div class="form-group">

                      <div ng-messages="registrationForm.fullName.$error">
                        <div ng-show="registrationValidation" class="errorMessage" ng-message="required">{{ 'registrationErrorFullName' | translate }}</div>
                        <div ng-show="registrationValidation" class="errorMessage" ng-message="pattern">{{ 'registrationErrorFullName' | translate }}</div>
                      </div>
                    <input ng-model="fullName" type="text" ng-pattern="/ /" name="fullName" id="fullname" tabindex="1" class="valid" placeholder="{{ 'registrationFullName' | translate }}" required>

                  </div>
                  <div class="form-group">

                    <div ng-messages="registrationForm.email.$error">
                      <div ng-show="registrationValidation" class="errorMessage" ng-message="required">{{ 'registrationEnterEmail' | translate }}</div>
                      <div ng-show="registrationValidation" class="errorMessage" ng-message="pattern">{{ 'registrationErrorEmail' | translate }}</div>
                    </div>
                    <input ng-model="email" type="email" name="email" ng-pattern="/[@]swedbank.[a-z]{2,}/" id="email" tabindex="3" class="valid" placeholder="{{ 'registrationEmail' | translate  }}" required>

                  </div>
                  <div class="form-group">

                    <div ng-messages="registrationForm.password.$error">
                      <div ng-show="registrationValidation" class="errorMessage" ng-message="required">{{ 'registrationErrorPassword' | translate }}</div>
                    </div>
                    <input data-ng-model="password" type="password" name="password" id="password" tabindex="4" class="valid" placeholder="{{ 'registrationPassword' | translate  }}" required>

                  </div>
                  <div class="form-group">

                    <div class="msg-block" ng-show="registrationForm.$error">
                      <span class="errorMessage" ng-show="registrationForm.confirmPassword.$error.passwordVerify">
                        {{ 'registrationPasswordMatch' | translate }}
                      </span>
                    </div>
                    <input ng-model="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" tabindex="5" class="valid" placeholder="{{ 'registrationConfirmPassword' | translate }}" data-password-verify="password">

                  </div>

                  <div class="form-group text-center">
                    <input ng-model="rememberMeCheckbox" type="checkbox" tabindex="6" name="remember" id="remember">
                    <label for="remember"> {{ 'loginRememberMe' | translate  }}</label>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <button ng-click="registrationValidation=true; register()" name="register" id="register" tabindex="7" class="valid btn btn-login">
                            {{ 'registrationButton' | translate  }}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-class="class='text-center'" class="container" ng-controller="AppController">
  <div ng-hide="lt">
    <a href="" id="ltButton" ng-click="lt=true; en=false; changeLanguage('lt')">Lietuvių</a>
  </div>
  <div ng-hide="en">
    <a href="" id="enButton" ng-click="lt=false; en=true; changeLanguage('en')">English</a>
  </div>
</div>