<title>{{ 'registrationTitle' | translate }}</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-4">
              <a href="#feed" class="" id="feed-form-link"> Feed </a>
            </div>
            <div class="col-xs-4">
              <a href="#login" class="" id="login-form-link">{{ 'registrationLogin' | translate }}</a>
            </div>
            <div class="col-xs-4">
              <a href="" class="active" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div ng-hide="!showLoader" class="loader"></div>
          <div class="row">
                <form id="registrationForm" name="registrationForm">

                  <div class="form-group col-lg-12">
                      <div ng-messages="registrationForm.fullName.$error">
                        <div ng-show="registrationValidation" class="errorMessage" ng-message="required">{{ 'registrationErrorFullName' | translate }}</div>
                        <div ng-show="registrationValidation" class="errorMessage" ng-message="pattern">{{ 'registrationErrorFullName' | translate }}</div>
                      </div>
                    <input ng-model="fullName" type="text" ng-pattern="/ /" name="fullName" id="fullname" tabindex="1" class="valid" placeholder="{{ 'registrationFullName' | translate }}" required>
                  </div>

                  <div class="form-group col-lg-12">
                    <div ng-messages="registrationForm.email.$error">
                      <div ng-show="registrationValidation" class="errorMessage" ng-message="required">{{ 'registrationEnterEmail' | translate }}</div>
                      <div ng-show="registrationValidation" class="errorMessage" ng-message="pattern">{{ 'registrationErrorEmail' | translate }}</div>
                    </div>
                    <input ng-model="email" type="email" name="email" ng-pattern="/[@]swedbank.[a-z]{2,}/" id="email" tabindex="2" class="valid" placeholder="{{ 'registrationEmail' | translate  }}" required>
                  </div>

                  <div class="form-group col-lg-12">
                    <div ng-messages="registrationForm.password.$error">
                      <div ng-show="registrationValidation" class="errorMessage" ng-message="required">{{ 'registrationErrorPassword' | translate }}</div>
                    </div>
                    <input ng-model="password" type="password" name="password" id="password" tabindex="3" class="valid" placeholder="{{ 'registrationPassword' | translate  }}" required>
                  </div>

                  <div class="form-group col-lg-12">
                    <div class="msg-block" ng-show="registrationForm.$error">
                      <span class="errorMessage" ng-show="registrationForm.confirmPassword.$error.passwordVerify">
                        {{ 'registrationPasswordMatch' | translate }}
                      </span>
                    </div>
                    <input ng-model="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" tabindex="4" class="valid" placeholder="{{ 'registrationConfirmPassword' | translate }}" data-password-verify="password" required>
                  </div>

                  <div class="form-group text-center col-lg-12">
                    <input ng-model="rememberMeCheckbox" type="checkbox" tabindex="5" name="remember" id="remember">
                    <label for="remember"> {{ 'loginRememberMe' | translate  }}</label>
                  </div>

                  <div class="form-group col-lg-12">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <button ng-click="registrationValidation=true; register()" name="register" id="register" tabindex="6" class="valid btn btn-login">
                            {{ 'registrationButton' | translate  }}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>