<div class="text-center">
    <div ng-if="chCompleted.completedChallengesCollection[0]" class="card box4 box-shadow-animation" ng-repeat="challenge in chCompleted.completedChallengesCollection | limitTo: chCompleted.completedChallengesLimit">
        <p class="card-text" ng-if="challenge.participantEmail == chCompleted.userEmail">
            <span class="bold">{{challenge.name}}</span> received from
            <span class="bold">{{challenge.creatorEmail}}</span> for
            <span class="badge acorn-bg">{{chCompleted.acornPlural(challenge.amount * 2)}}</span>
        </p>

        <p class="card-text" ng-if="challenge.creatorEmail == chCompleted.userEmail">
            <span class="bold">{{challenge.name}}</span> given to
            <span class="bold">{{challenge.participantEmail}}</span> for
            <span class="badge acorn-bg">{{chCompleted.acornPlural(challenge.amount * 2)}}</span>
        </p>

        <p>Status:<span class="bold">{{challenge.status}}</span></p>
        <span class="bold" ng-if="challenge.status == 'ACCOMPLISHED' ">{{chCompleted.getWinner($index)}}</span>
    </div>

    <div class="showMore">
        <button ng-show="chCompleted.lessChallenges" ng-click="chCompleted.showLess(); chCompleted.lessChallenges = false" type="button"
                class="btn btn-default btn-sm">
            {{'ProfileShowLess' | translate}}
        </button>
        <button ng-click="chCompleted.showMore(); chCompleted.lessChallenges = true" ng-show="chCompleted.showMoreButton" type="button"
                class="btn btn-default btn-sm">
            {{'ProfileShowMore' | translate}}
        </button>
    </div>

    <div ng-if="!chCompleted.completedChallengesCollection[0]">
        <div class="alert alert-info acorn-bg margin-top">
            <span class="glyphicon glyphicon-info-sign"></span>
            You don't have any completed challenges
        </div>
    </div>
</div>