<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/profile">Acorns</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ng-class="selectedHome ? 'selected active' : ''"><a href="#/profile">Home</a></li>
                <li ng-class="selectedAcorns ? 'selected active' : ''" ng-controller="NotificationsController"><a ng-click="clearNotifications()" href="#/acorns"><kudos-notifications-transactions></kudos-notifications-transactions></a></li>
                <li ng-class="selectedProfile ? 'selected active' : ''"><a href="#/me">Profile</a></li>
                <li ng-class="selectedLeaderboard ? 'selected active' : ''"><a href="#/leaderboard" class="no-hover">Leaderboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" type="button" class="dropdown-toggle" data-toggle="dropdown" href=""
                       ng-click="showDropDown == true ? showDropDown = false : showDropDown = true">
                        <span class="glyphicon glyphicon-user"></span> {{user.firstName}} {{user.lastName}}</span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()" class="" href="#">
                            <span class="glyphicon glyphicon-log-in"></span> {{ 'ProfileMeLogout' | translate }}
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>