<nav class="navbar navbar-default kudos-navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/profile">Acorns</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="uppercase" ng-class="nav.selectedHome ? 'selected active' : ''"><a href="#/profile">Home</a></li>
                <li class="uppercase" ng-class="nav.selectedAcorns ? 'selected active' : ''"><a href="#/history/{{nav.user.id}}">History</a></li>
                <li class="uppercase" ng-class="nav.selectedFollowing ? 'selected active' : ''"><a href="#/following">Following</a></li>
                <li class="uppercase" ng-class="nav.selectedShop ? 'selected active' : ''"><a href="#/shop" class="no-hover">Shop</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="nav.logout()" class="" href="#">
                    <span class="glyphicon glyphicon-log-out"></span> {{ 'ProfileMeLogout' | translate }}
                </a></li>
               <!-- <li class="dropdown">
                    <a href="" class="dropdown-toggle" type="button" data-toggle="dropdown"
                       ng-click="nav.showDropDown == true ? nav.showDropDown = false : nav.showDropDown = true">
                        <span class="glyphicon glyphicon-user"></span> {{nav.user.firstName}} {{nav.user.lastName}}</span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/me" class="">
                                <span class="glyphicon glyphicon-list-alt"></span> Profile
                            </a>
                        </li>
                        <li>
                            <a href="#/settings" class="">
                                <span class="glyphicon glyphicon-cog"></span> Settings
                            </a>
                        </li>
                        <li><a ng-click="nav.logout()" class="" href="#">
                            <span class="glyphicon glyphicon-log-out"></span> {{ 'ProfileMeLogout' | translate }}
                        </a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>