<nav class="navbar navbar-default navbar-fixed-top" id="mainnavbar">
    <div class="container">
        <ul class="nav navbar-nav navbar-left">
            <li><a ng-class="selectedHome ? 'selected' : ''" href="#/profile">Home</a></li>
            <li ng-controller="NotificationsController"><a ng-click="clearNotifications()" ng-class="selectedAcorns ? 'selected' : ''" href="#/acorns"><kudos-notifications-transactions></kudos-notifications-transactions></a></li>
            <li><a ng-class="selectedProfile ? 'selected hidden-xs hidden-sm' : 'hidden-xs hidden-sm'" href="#/me">Profile</a></li>
            <!-- <li><a href="#/acorns">Acorns <span ng-hide="receivedNewTransaction = false" class="badge acorn-bg text-center arm"> 5 </span></a></li> -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="" class="dropdown-toggle" type="button" id="dropdownMenu1"
                   aria-haspopup="true" aria-expanded="true"
                   ng-click="showDropDown == true ? showDropDown = false : showDropDown = true">
                <span class="glyphicon glyphicon-menu-hamburger hidden-lg hidden-md"></span>
                <span class="glyphicon glyphicon-user hidden-sm hidden-xs"></span><span class="hidden-sm hidden-xs"> {{user.firstName}} <br ng-if="checkUserLength(user)" class="hidden-lg"> {{user.lastName}}</span>
                <span class="hidden-xs hidden-sm caret"></span>
            </a></li>
        </ul>
    </div>
    <div class="nav-dropdown" ng-hide="!showDropDown">

        <a href="#/me">
            <div class="hidden-md hidden-lg">
                <span class="glyphicon glyphicon-user"></span><span class=""> {{user.firstName}} {{user.lastName}}</span>
            </div>
        </a>

        <a href="#/leaderboard" class="no-hover">
            <div class="hidden-lg">
               <span class="glyphicon glyphicon-star"></span> Leaderboard
            </div>
        </a>

        <a ng-click="logout()" class="" href="#">
            <div ng-click="logout()">
                <span class="glyphicon glyphicon-log-in"></span> {{ 'ProfileMeLogout' | translate }}
            </div>
        </a>
    </div>
</nav>

<!-- <span class="glyphicon glyphicon-menu-hamburger"></span><span class="hidden-sm hidden-xs"> {{user.firstName}} <br ng-if="checkUserLength(user)" class="hidden-lg"> {{user.lastName}}</span>  -->