<div>
    <a type="button" href="" data-toggle="collapse" data-target="#collape{{comment.challenge.id}}" aria-expanded="false" aria-controls="collapseExample">
        Comments ({{comment.totalElements}})
    </a>
</div>

<div class="collapse" id="collape{{comment.challenge.id}}">
    <div class="well top-margin">

        <div ng-if="comment.loading" class="loader"></div>

        <div class="box4 text-left" ng-repeat="item in comment.commentsCollection">
            <a href="">{{item.creatorFullName}}</a>
            <p>{{item.text}}</p>
            <p class="small">{{comment.formatDate(item.date)}}</p>
        </div>

        <div class="row">
            <a class="col-sm-6 text-left" href="" ng-click="comment.loadPreviousPage()"><span ng-if="comment.showLessButton">Show less</span></a>
            <a class="col-sm-6 text-right" href=""><span ng-click="comment.loadNextPage()" ng-if="comment.showMoreButton">Show more</span></a>
        </div>

        <div class="form-group text-left">
            <label for="sendKudosMessage">Add comment</label>
                <textarea ng-model="comment.message"
                          maxlength="140"
                          id="sendKudosMessage"
                          name="sendKudosMessage"
                          class="form-control">
                </textarea>
            <p class=""> {{comment.message.length}} / 140 </p>
            <button class="btn btn-primary" ng-click="comment.addComment()">Comment</button>
        </div>
    </div>

</div>