<div class="text-center">
    <div ng-if="id" class="box4 box-shadow-animation" ng-repeat="challenge in challengeList">

        <h4 class="card-title text-center">You have been challenged!</h4>

        <p class="card-text"><span class="bold">{{challenge.name}}</span>  by
            <span class="bold">{{challenge.creator}}</span>  for
            <span class="badge acorn-bg">{{acornPlural(challenge.amount * 2)}}</span>
        </p>

        <p ng-if="challenge.description">Description: {{challenge.description}}</p>
        <p ng-if="challenge.finishDate">Finish date: {{convertDate(challenge.finishDate)}}</p>

        <div ng-if="challenge.participant == userEmail">
            <button class="btn btn-danger btn-challenge-participated" ng-click="declineChallenge(challenge.id, $index)">Decline</button>
            <button class="btn btn-success btn-challenge-participated" ng-click="acceptChallenge(challenge.id, $index, challenge.amount)">Accept</button>
        </div>

        <div ng-show="doesDateExist($index)">
            <button ng-if="challenge.creator == userEmail"  class="btn btn-danger btn-challenge-participated" ng-click="cancelChallenge($index); buttons = true">Cancel challenge</button>
        </div>

    </div>

    <div ng-if="!id">
        <div class="alert alert-info acorn-bg margin-top">
            <span class="glyphicon glyphicon-info-sign"></span>
            You don't have any new challenges!
        </div>
    </div>
</div>

<!--
<div ng-if="showAllReceived" class="col-lg-pull-5">
    <button href="" class="btn btn-more hvr-underline-from-center"
            data-toggle="modal" data-target="#allReceivedModal"
            ng-click="getAllChallengeParticipatedList()">Hey! You have more!</button>
</div>

<div id="allReceivedModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New challenges</h4>
            </div>
            <div class="card card-block text-center" ng-repeat="list in challengeFullList">
                <div class="card box-shadow-animation">
                    <p class="card-text"><span class="bold">{{list.name}}</span>  by
                        <span class="bold">{{list.creator}}</span>  for
                        <span class="badge acorn-bg">{{acornPlural(list.amount * 2)}}</span>
                    </p>

                    <p ng-if="list.description">Description: {{list.description}}</p>
                    <p ng-if="list.finishDate">Finish date: {{convertDate(list.finishDate)}}</p>

                    <button class="btn btn-danger btn-challenge-participated" ng-click="declineChallenge(list.id, $index)">Decline</button>
                    <button class="btn btn-success btn-challenge-participated" ng-click="acceptChallenge(list.id, $index, list.amount)">Accept</button>

                </div>
            </div>
        </div>
    </div>
</div>-->
