<div class="loader" ng-hide="!chNew.showLoaderNew"></div>
<div class="text-center">
    <div ng-if="chNew.challengeList[0]" class="box4 box-shadow-animation" ng-repeat="challenge in chNew.challengeList">

        <h4 ng-if="challenge.participantEmail == chNew.userEmail" class="card-title text-center">You have been challenged!</h4>
        <h4 ng-if="challenge.creatorEmail == chNew.userEmail" class="card-title text-center">You created challenge!</h4>

        <p class="card-text" ng-if="challenge.participantEmail == chNew.userEmail">
            <span class="bold">{{challenge.name}}</span> received from
            <span class="bold">{{challenge.creator}}</span> for
            <span class="badge acorn-bg">{{chNew.acornPlural(challenge.amount * 2)}}</span>
        </p>

        <p class="card-text" ng-if="challenge.creatorEmail == chNew.userEmail">
            <span class="bold breakword">{{challenge.name}}</span> given to
            <span class="bold">{{challenge.participantName}}</span> for
            <span class="badge acorn-bg">{{chNew.acornPlural(challenge.amount * 2)}}</span>
        </p>

        <p class="breakword" ng-if="challenge.description">Description: {{challenge.description}}</p>
        <p ng-if="challenge.finishDate">Finish date: {{chNew.convertDate(challenge.finishDate)}}</p>

        <div ng-if="challenge.participantEmail == chNew.userEmail">
            <button class="btn btn-danger btn-challenge-participated" ng-click="chNew.declineChallenge(challenge.id, $index)">Decline</button>
            <button class="btn btn-success btn-challenge-participated" ng-click="chNew.acceptChallenge(challenge.id, $index, challenge.amount)">Accept</button>
        </div>

        <div ng-show="chNew.doesDateExist($index)">
            <button ng-if="challenge.creatorEmail == chNew.userEmail"
                    class="btn btn-danger btn-challenge-participated"
                    ng-click="chNew.cancelChallenge($index); chNew.buttons = true">
                Cancel challenge</button>
        </div>

    </div>

    <div ng-if="!chNew.challengeList[0]">
        <div class="alert alert-info acorn-bg margin-top">
            <span class="glyphicon glyphicon-info-sign"></span>
            You don't have any new challenges!
        </div>
    </div>
</div>