<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Upload</h4>
    </div>

    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="imageHolder">Image</label>
                    <div class="col-lg-10">
                        <img style="max-height: 300px" class="img-responsive" src="{{}}" alt="No image uploaded" id="imageHolder">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input ng-model="file" title="Upload" type="file" id="files" name="files[]">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input ng-model="title" type="text" class="form-control" id="inputTitle" placeholder="Title">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescription" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <input ng-model="description" type="text" class="form-control" id="inputDescription" placeholder="Description (optional)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPrice" class="col-lg-2 control-label">Price</label>
                    <div class="col-lg-10">
                        <input ng-model="price" type="number" class="form-control" id="inputPrice" placeholder="Price">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default input-button">Cancel</button>
                        <button ng-click="uploadFile()" type="submit" class="btn btn-primary input-button rightAlignment">Upload</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>