<div class="card card-block box-shadow-animation text-center">
    <div class="box4" ng-repeat="incomingKudos in incomingKudosCollection | orderBy:'-timestamp' | limitTo: incomingKudosShowLimit">
        You received
        <span class="badge acorn-bg">{{acornPlural(incomingKudos.amount)}}</span> from
        <span class="bold">{{incomingKudos.senderEmail}}</span> on
        <span>{{incomingKudos.timestamp}}</span>
    </div>

    <div ng-if="!receivedKudosTable" class="alert alert-info acorn-bg">
        <span class="glyphicon glyphicon-info-sign"></span>
        {{'ProfileMeReceivedAcorns' | translate}}
    </div>

    <button ng-click="showMoreIncomingKudos(); lessIncoming = true" ng-show="moreIncoming" type="button"
            class="btn btn-default btn-sm">
        {{'ProfileShowMore' | translate}}
    </button>
    <button ng-show="lessIncoming" ng-click="showLessIncomingKudos(); lessIncoming = false" type="button"
            class="btn btn-default btn-sm">
        {{'ProfileShowLess' | translate}}
    </button>
</div>



