/* app css stylesheet */

body {
  padding-top: 8%;
  background: -webkit-linear-gradient(left, #ff6c00, #ffdd00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff6c00, #ffdd00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff6c00, #ffdd00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff6c00, #ffdd00); /* Standard syntax */
}

.notValid {
  height: 45px;
  -moz-transition: all 0.1s linear;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid red;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.valid {
  height: 45px;
  -moz-transition: all 0.1s linear;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

errorMessage {
  color: red;
}

.hidden {
  visibility: hidden;
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0.5, 0.5);
}

.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
  color: #eba205;
  font-size: 18px;
}

.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

.btn-login {
  background-color: #FF7A09;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #b04809;
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #FF5A09;
  border-color: #772c07;
}

.forgot-password {
  text-decoration: underline;
  color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.large-padded-row {
  margin-top: 20px;
}

.padded-row {
  margin-top: 10px;
}

.highlight {
  color: #ff0000;
}

.bold-span {
  font-family: "bariol_boldbold";
  margin-left: 5px;
}

.bold-span a {
  color: #000000;
}

.dropdown-description {
  display: none;
}

.dropdown {
  width: 53px;
  position: absolute;
  right: 4px;
  top: 50px;
  z-index: 100;
  padding: 0px;
  text-align: left;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: center;
}

.dropdown-icon {
  margin-bottom: 0px;
  padding: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-icon:hover {
  background-color: #fb8200;
}

.dropdown-orange {
  background-color: #FFA300;
  color: #ffffff;
}

@media screen and (min-width: 400px) {
  .dropdown-description {
    display: block;
    position: absolute;
    right: 70px;
    top: 15px;
    max-width: 200px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.8;
  }
}

.criterion-rating-dropdown {
  padding: 2px;
  border-radius: 0px;
  color: #ACACAC;
  margin-left: 0px;
  font-size: 12px;
  margin-top: -3px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  display: block;
}

.criterion-rating-dropdown:hover {
  color: #383736;
}

.criterion-dropdown {
  width: 60px;
  text-align: left;
  top: 60px;
  left: 100px;
  padding: 2px;
  background-color: #e0e0e0;
  z-index: 9999;
  position: relative;
}

.row {
  margin-top: 10px;
  display: block;
}
