<div class="box4" ng-repeat="item in feedCtrl.feedCollection">

    <kudos-feed-challenge action="item" ng-if="item.type == 'CREATED_CHALLENGE'"></kudos-feed-challenge>

    <kudos-feed-comment action="item" ng-if="item.type == 'COMMENTED'"></kudos-feed-comment>

    <kudos-feed-new-idea action="item" ng-if="item.type == 'ADDED_NEW_IDEA'"></kudos-feed-new-idea>

    <kudos-feed-new-relation action="item" ng-if="item.type == 'STARTED_TO_FOLLOW'"></kudos-feed-new-relation>

    <kudos-feed-transaction action="item" ng-if="item.type == 'KUDOS_GIVEN'"></kudos-feed-transaction>

</div>