<div id="sendKudosModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="clearSendKudosFormValues()" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'SEND_KUDOS_POPUP_TITLE' | translate }}</h4>
            </div>

            <div class="modal-body">
                <form name="sendKudosForm">
                    <div class="form-group col-sm-6">
                        <!-- INPUT RECEIVER -->
                        <input ng-model="sendKudosTo"
                               ng-class="fieldReceiverErrorClass"
                               ng-change="inputChanged()"
                               id="sendKudosTo"
                               name="sendKudosTo"
                               type="text"
                               class="form-control"
                               autocomplete="off"
                               placeholder="{{ 'SEND_KUDOS_SENDING_TO_HINT' | translate }}">
                        <div class="autocomplete" ng-show="autocompleteHide==false">
                            <div ng-repeat="autoText in usersCollection | filter:sendKudosTo"
                                 ng-click="selectAutoText(autoText.email)">
                                <p>{{autoText.firstName}} {{autoText.lastName}}</p>
                                <p class="small">{{autoText.email}}</p>
                            </div>
                        </div>
                        <p ng-class="receiverErrorClass" class="small">{{receiverErrorMessage}}</p>
                    </div>
                    <!-- INPUT AMOUNT -->
                    <div class="form-group col-sm-6">
                        <input ng-model="sendKudosAmount"
                               ng-pattern="/^[0-9]+$/"
                               ng-change="inputChanged()"
                               ng-class="fieldAmountErrorClass"
                               id="sendKudosAmount"
                               name="sendKudosAmount"
                               type="number"
                               class="form-control"
                               min="1" max="userAvailableKudos"
                               placeholder="{{'SEND_KUDOS_AMOUNT_HINT' | translate }}" required>
                        <p ng-class="amountErrorClass" class="small">{{amountErrorMessage}}</p>
                    </div>
                </form>

                <button ng-click="sendKudos()"
                        ng-disabled="sendKudosForm.$invalid"
                        name="sendKudosButton"
                        id="sendKudosButton"
                        class="form-control btn btn-login">Give
                </button>

            </div>
        </div>
    </div>
</div>