<div class="btn-action text-center"
     ng-click="vm.clearSendKudosFormValues()"
     name="giveKudosButton"
     id="giveKudosButton"
     data-toggle="modal"
     data-target="#sendKudosModal">
    <span class="glyphicon glyphicon-gift"></span>
    <p>GIVE ACORN</p>
</div>

<div id="sendKudosModal" class="modal fade" role="dialog">
    <div class="modal-dialog text-left">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="vm.clearSendKudosFormValues()" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ 'SEND_KUDOS_POPUP_TITLE' | translate }}</h4>
            </div>

            <div class="modal-body">
                <div class="">
                    <form name="sendKudosForm">
                        <div class="form-group col-sm-12">
                            <label for="sendKudosTo">Sending to</label>
                            <input ng-model="vm.sendKudosTo"
                                   ng-change="vm.sendToInputChanged()"
                                   class="form-control"
                                   id="sendKudosTo"
                                   name="giveChallengeTo"
                                   type="text"
                                   placeholder="Start typing receiver name..."
                                   autocomplete="off"
                                   required>
                            <div class="autocomplete" ng-show="vm.autocompleteHide==false">
                                <div ng-repeat="autoText in vm.usersCollection | filter:vm.sendKudosTo"
                                     ng-click="vm.selectAutoText(autoText.email)">
                                    <p>{{autoText.firstName}} {{autoText.lastName}}</p>
                                    <p class="small">{{autoText.email}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="sendKudosTo">Amount | Max: {{vm.userAvailableKudos}}</label>
                            <div class="input-group">
                            <span class="input-group-btn">
                                <button ng-click="vm.sendKudosAmount > 0 ? vm.sendKudosAmount = vm.sendKudosAmount - 1 : vm.sendKudosAmount = 0"
                                        type="button"
                                        class="btn btn-default btn-number"><span class="glyphicon glyphicon-minus"></span></button>
                            </span>
                                <input ng-model="vm.sendKudosAmount"
                                       type="number"
                                       min="0"
                                       class="form-control" required>
                                <div class="input-group-btn">
                                    <button ng-click="vm.sendKudosAmount = vm.sendKudosAmount + 1" type="button"
                                            class="btn btn-default btn-number"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="sendKudosMessage">Message (optional)</label>
                            <textarea ng-model="vm.sendKudosMessage"
                                      maxlength="140"
                                      id="sendKudosMessage"
                                      name="sendKudosMessage"
                                      class="form-control">
                            </textarea>
                        </div>

                        <div class="form-group col-sm-12 text-center">
                            <div ng-hide="!vm.showError" class="alert alert-danger" role="alert">
                                <strong>Whoops!</strong> {{vm.errorMessage}}
                            </div>
                        </div>

                    </form>

                    <button ng-click="vm.sendKudos()"
                            name="sendKudosButton"
                            id="sendKudosButton"
                            class="form-control btn btn-login">Give
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>