$color-grey-borders:        #c0c0c0;
$color-grey-borders-light:  #ddd;
$color-grey:                #777;
$color-grey-dark:           #222;
$color-white:               #ffffff;
$color-clouds:              #ECF0F1;
$color-emerald:             #1abc9c;
$color-emerald-dark:        #16a085;
$color-pomegranate:         #e74c3c;
$color-pomegranate-dark:    #c0392b;
$color-swed-orange:         #FF6100;
$color-orange:              #f1c40f;
$color-orange-dark:         #f39c12;

.btn{

}

.btn-action{
  border-radius: 5px;
  height: 100px;
  padding-top: 20px;
  background: $color-orange-dark;
  color: $color-white;
  margin: -9px 0 20px;
  box-shadow: 1px 1px 2px grey;
  &:hover{
    cursor: pointer;
    background: $color-swed-orange;
  }

  span{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 24px;
  }

}

@media (max-width: 991px) {
  .btn-action {
    margin-top: 0;
  }
}

.profile-actions{
  a:nth-child(2) {
    padding-left: 10px;
  }
}

.btn-danger {
  background: $color-pomegranate;
  border-color: $color-pomegranate;
  &:hover {
    background: $color-pomegranate-dark;
    border-color: $color-pomegranate-dark;
  }
  &:focus {
    background: $color-pomegranate-dark;
    border-color: $color-pomegranate-dark;
  }
}

.btn-success {
  background: $color-emerald;
  border-color: $color-emerald;
  &:hover {
    background: $color-emerald-dark;
    border-color: $color-emerald-dark;
  }
  &:focus {
    background: $color-emerald-dark;
    border-color: $color-emerald-dark;
  }
}

.btn-give {
  background: $color-orange-dark;
  border-color: $color-orange-dark;
  color: $color-white;
  &:hover {
    background: $color-swed-orange;
    border-color: $color-swed-orange;
    color: $color-white;
  }
  &:focus {
    background: $color-swed-orange;
    border-color: $color-swed-orange;
    color: $color-white;
  }
}

.profile-buttons {
  background-color: #FF6100;
  color: #fff;
  width: 90%;
  height: auto;
  font-weight: normal;
  padding: 10px 0;
  margin: 5px;
  text-transform: uppercase;
  &:hover{
    color: #fff;
    background-color: #FF9A09
  }
  &:focus{
    outline: none;
    color: #fff;
  }
}

.sidebar-buttons {
  background-color: #ffffff;
  border: solid 1px #222222;
  color: #727272;
  width: 90%;
  height: auto;
  font-weight: normal;
  padding: 10px 0;
  margin: 5px;
  text-transform: uppercase;
  &:hover{
    color: #fff;
    background-color: #FF9A09
  }
  &:focus{
    color: #fff;
    background-color: #FF9A09
  }
}