$color-grey-borders:        #c0c0c0;
$color-grey-borders-light:  #ddd;
$color-grey:                #777;
$color-grey-dark:           #222;
$color-white:               #ffffff;
$color-clouds:              #ECF0F1;
$color-emerald:             #1abc9c;
$color-emerald-dark:        #16a085;
$color-pomegranate:         #e74c3c;
$color-pomegranate-dark:    #c0392b;
$color-swed-orange:         #FF6100;
$color-orange:              #f1c40f;
$color-orange-dark:         #FF7740;

$color-nav-bg:              #fff;

$padding-small:             10px;
$padding-medium:            15px;

$margin-small:              10px;
$margin-medium:             15px;

$border-radius-small:       4px;

$transition-duration-short: 0.2s;

.navbar-toggle {
  margin-top: 15px;
  border-radius: 2px;
}

.navbar .nav{
  li {
    position: relative;
    color: $color-orange-dark;

    a {
      -o-transition:color .2s ease-out, background .2s ease-in;
      -ms-transition:color .2s ease-out, background .2s ease-in;
      -moz-transition:color .2s ease-out, background .2s ease-in;
      -webkit-transition:color .2s ease-out, background .2s ease-in;
      transition:color .2s ease-out, background .2s ease-in;
      &:hover {
        color: $color-orange-dark;
      }
    }
  }
  .active a{
    color: $color-swed-orange;
    text-decoration: none;
    background-color: #fff;
    font-size: 16px;
    &:hover{
      background-color: #fff;
      color: $color-orange-dark;
    }
  }
}

.dropdown-menu li a {
  line-height: 45px;
  height: 45px;
  padding-top: 0;
}

.kudos-navbar {
  background-color: $color-nav-bg;

  .navbar-brand, .navbar-nav li a {
    line-height: 65px;
    height: 65px;
    padding-top: 0;
  }

  .uppercase {
    text-transform: uppercase;
  }
}

.nav-pills, .nav-tabs{
  .active{

    &:hover{

    }
  }

  li{
    &:hover, &:active{
      background: $color-clouds;
      color: $color-grey-dark;
      border-top-right-radius: $border-radius-small;
      border-top-left-radius: $border-radius-small;
    }
  }
}

.nav-tabs.nav-justified>.active>a{
  font-size: 16px;
  color: $color-swed-orange;
  &:hover, &:focus{
    color: $color-swed-orange;
  }
}

@media (max-width: 768px) {

}

.nav-pills>li>a {
  background: transparent;
  color: $color-grey;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}