
$color-clouds:              #ecf0f1;
$color-grey-borders:        #c0c0c0;
$color-grey-borders-light:  #ddd;
$color-emerald:             #2ecc71;
$color-emerald-dark:        #27ae60;
$color-pomegranate:         #e74c3c;
$color-pomegranate-dark:    #c0392b;
$color-swed-orange:         #FF6100;

$padding-small:             10px;

$margin-small:              10px;

$border-radius-small:       4px;

$transition-duration-short: 0.2s;

body{
  background: $color-clouds;
}

.card {
  background: #ffffff;
  border-radius: $border-radius-small;
  margin-bottom: $margin-small;
  padding: $padding-small;
}

.btn-danger {
  background: $color-pomegranate;
  border-color: $color-pomegranate;
}

.btn-danger:hover {
  background: $color-pomegranate-dark;
  border-color: $color-pomegranate-dark;
}

.btn-success {
  background: $color-emerald;
  border-color: $color-emerald;
}

.btn-success:hover {
  background: $color-emerald-dark;
  border-color: $color-emerald-dark;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}

.tab-box{
  padding: 0 $padding-small $padding-small $padding-small;
  border-bottom: 1px solid $color-grey-borders-light;
  border-left: 1px solid $color-grey-borders-light;
  border-right: 1px solid $color-grey-borders-light;
  border-radius: 0 0 $border-radius-small $border-radius-small;
}

.tab-item{
  text-align: center;
  width: 1/3;
}

.notification-item {
  width: 100%;
}

.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 5px;
}
.nav>li {
  float: left;
}

.box-shadow-animation {
  box-shadow: none;
  transition: box-shadow $transition-duration-short;
}

.box-shadow-animation:hover {
  box-shadow: 2px 2px 2px 2px $color-grey-borders;
  transition: box-shadow $transition-duration-short;
}

.fixed-element-floating{
  position: fixed;
  z-index: 3;
  //background: $color-swed-orange;
  width:60px;
  height:60px;
  text-align: center;
  border-radius:100%;
  padding: $padding-small;
  margin-left: $margin-small;
  margin-top: $margin-small;
  border:none;
  font-size:36px;
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fixed-element-floating:focus {

}

.fixed-element-floating:hover {
  transition: scal $transition-duration-short;
}

.top-badge {
  z-index: 4;
  top: 0;
  left: 30px;
  position: absolute;
  border-radius: 10%;
  width: 25px;
  height: 25px;
  font-size: 15px;
  text-align-all: center;
}

@-webkit-keyframes arm {
  from { -webkit-transform: rotate(10deg); }
  to { -webkit-transform: rotate(-10deg); }
}

.arm {
  -webkit-transform-origin:0% 60%;
  -webkit-animation:arm 2s ease-in-out infinite alternate;
}