$color-grey-borders:        #c0c0c0;
$color-grey-borders-light:  #ddd;
$color-grey:                #777;
$color-grey-dark:           #222;
$color-white:               #ffffff;
$color-clouds:              #ECF0F1;
$color-emerald:             #1abc9c;
$color-emerald-dark:        #16a085;
$color-pomegranate:         #e74c3c;
$color-pomegranate-dark:    #c0392b;
$color-swed-orange:         #FF6100;

$padding-small:             10px;

$margin-small:              10px;

$border-radius-small:       4px;

$transition-duration-short: 0.2s;

body{
  background: $color-clouds;
}

.card {
  background: #ffffff;
  border-radius: $border-radius-small;
  margin-bottom: $margin-small;
  padding: $padding-small;
}

.btn-danger {
  background: $color-pomegranate;
  border-color: $color-pomegranate;
}

.btn-danger:hover {
  background: $color-pomegranate-dark;
  border-color: $color-pomegranate-dark;
}

.btn-success {
  background: $color-emerald;
  border-color: $color-emerald;
}

.btn-success:hover {
  background: $color-emerald-dark;
  border-color: $color-emerald-dark;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border: none;
}

.tab-box{
  padding: 0 $padding-small $padding-small $padding-small;
  border-bottom: 1px solid $color-grey-borders-light;
  border-left: 1px solid $color-grey-borders-light;
  border-right: 1px solid $color-grey-borders-light;
  border-radius: 0 0 $border-radius-small $border-radius-small;
}

.tab-item{
  text-align: center;
  width: 1/3;
}

.notification-item {
  width: 100%;
}

.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 5px;
}
.nav>li {
  float: left;
}

.box-shadow-animation {
  box-shadow: none;
  transition: box-shadow $transition-duration-short;
}

.box-shadow-animation:hover {
  box-shadow: 1px 1px 1px 1px $color-clouds;
  transition: box-shadow $transition-duration-short;
}

.fixed-element-floating{
  position: fixed;
  z-index: 3;
  width:60px;
  height:60px;
  text-align: center;
  border-radius:100%;
  padding: $padding-small;
  margin-left: $margin-small;
  margin-top: $margin-small;
  border:none;
  font-size:36px;
  transition:.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fixed-element-floating:focus {

}

.fixed-element-floating:hover {
  transition: scal $transition-duration-short;
}

.top-badge {
  z-index: 4;
  top: 0;
  left: 30px;
  position: absolute;
  border-radius: 10%;
  width: 25px;
  height: 25px;
  font-size: 15px;
  text-align-all: center;
}

.btn-more {
  background: $color-clouds;
}

.loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1001;
  border: 8px solid $color-grey-borders-light;
  border-top: 8px solid $color-swed-orange;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.relation {
  padding: $padding-small;
  margin: $margin-small;
  background: $color-white;
  border-radius: $border-radius-small;

  &:hover{

  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes arm {
  from { -webkit-transform: rotate(10deg); }
  to { -webkit-transform: rotate(-10deg); }
}

.arm {
  -webkit-transform-origin:0% 60%;
  -webkit-animation:arm 0.5s ease-in-out infinite alternate;
}