<div class="text-center row">
    <div ng-if="!self.transactionHistory[0]">
        <div class="alert alert-info acorn-bg margin-top">
            <strong>Whoops!</strong> This user has no transaction history yet
        </div>
    </div>
    <div class="box4" ng-repeat="item in self.transactionHistory | limitTo:self.transactionEndingIndex-1">
        <div ng-if="item.status == 'COMPLETED'">
            <div ng-if="item.receiverEmail == self.thisUsersEmail">
                <label>{{item.receiverFullName}}</label>
                <span class="history-positive">received</span>
                <span class="badge acorn-bg ng-binding">{{self.acornPlural(item.amount)}}</span>
                from
                <label>{{item.senderFullName}}</label>
                <div ng-if="item.comment"><label>Comment:</label> {{item.comment}}</div>
                <div ng-if="item.timestamp">{{self.split(item.timestamp, " ")[0]}}</div>
            </div>
            <div ng-if="item.senderEmail == self.thisUsersEmail">
                <label>{{item.senderFullName}}</label>
                <span class="history-negative">gave</span>
                <span class="badge acorn-bg ng-binding">{{self.acornPlural(item.amount)}}</span>
                to
                <label>{{item.receiverFullName}}</label>
                <div ng-if="item.comment"><label>Comment:</label> {{item.comment}}</div>
                <div ng-if="item.timestamp">{{self.split(item.timestamp, " ")[0]}}</div>
            </div>
        </div>
        <div ng-if="item.status == 'COMPLETED_CHALLENGE_PARTICIPANT'">
            <div ng-if="item.receiverEmail == self.thisUsersEmail">
                <label>{{item.receiverFullName}}</label>
                <span class="history-positive">won</span>
                <span class="badge acorn-bg ng-binding">{{self.acornPlural(item.amount)}}</span>
                against
                <label>{{item.senderFullName}}</label>
                <div ng-if="item.comment"><label>Comment:</label> {{item.comment}}</div>
                <div ng-if="item.timestamp">{{self.split(item.timestamp, " ")[0]}}</div>
            </div>
            <div ng-if="item.senderEmail == self.thisUsersEmail">
                <label>{{item.senderFullName}}</label>
                <span class="history-negative">lost</span>
                <span class="badge acorn-bg ng-binding">{{self.acornPlural(item.amount / 2)}}</span>
                against
                <label>{{item.receiverFullName}}</label>
                <div ng-if="item.comment"><label>Comment:</label> {{item.comment}}</div>
                <div ng-if="item.timestamp">{{self.split(item.timestamp, " ")[0]}}</div>
            </div>
        </div>
        <div ng-if="item.status == 'COMPLETED_CHALLENGE_CREATOR'">
            <div ng-if="item.receiverEmail == self.thisUsersEmail">
                <label>{{item.receiverFullName}}</label>
                <span class="history-negative">lost</span>
                <span class="badge acorn-bg ng-binding">{{self.acornPlural(item.amount / 2)}}</span>
                against
                <label>{{item.senderFullName}}</label>
                <div ng-if="item.comment"><label>Comment:</label> {{item.comment}}</div>
                <div ng-if="item.timestamp">{{self.split(item.timestamp, " ")[0]}}</div>
            </div>
            <div ng-if="item.senderEmail == self.thisUsersEmail">
                <label>{{item.senderFullName}}</label>
                <span class="history-positive">won</span>
                <span class="badge acorn-bg ng-binding">{{self.acornPlural(item.amount)}}</span>
                against
                <label>{{item.receiverFullName}}</label>
                <div ng-if="item.comment"><label>Comment:</label> {{item.comment}}</div>
                <div ng-if="item.timestamp">{{self.split(item.timestamp, " ")[0]}}</div>
            </div>
        </div>
    </div>
</div>