<title>Relationship</title>

<h1>Following</h1>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
</div>

<div class="row">
    <div ng-repeat="relation in friendsCollection | orderBy:'followerName'"
         class="col-md-6">
        <div class="well well-sm">
            <div class="media">
                <!-- <a class="thumbnail pull-left" href="#">
                    <img class="media-object"
                         src="http://images.brighthub.com/a3/d/a3d2a3f5888d96ddde78d526bf9448dddf2fb4aa_small.jpg">
                </a> -->
                <div class="media-body">
                    <h4 class="media-heading">{{ relation.userName }} {{ relation.userSurname }}</h4>
                    <p class="small">{{ relation.userEmail }}</p>
                    <p><span class="label label-info">888 photos</span> <span
                            class="label label-warning">150 followers</span></p>
                    <p>
                        <button href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span>
                            Message</button>
                        <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span>
                            Favorite</a>
                        <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-ban-circle"></span>
                            Unfollow</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>