<div class="panel">
    <div class="panel-body">

        <h3>Following</h3>

        <div class="input-group">
            <input ng-model="relation.followedEmail"
                   ng-change="relation.onInputChange()"
                   id="followedEmail"
                   name="followerEmail"
                   type="text"
                   class="form-control"
                   placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-give"
                          type="button"
                          ng-click="relation.followByEmail(relation.followedEmail)">Add
                  </button>
                </span>
        </div>

        <!--<div class="autocomplete" ng-show="relation.autocompleteHide == false">
            <div ng-repeat="autoText in relation.usersCollection | filter:relation.followerEmail"
                 ng-click="relation.selectAutoText(autoText.email)">
                <p>{{autoText.firstName}} {{autoText.lastName}}</p>
                <p class="small">{{autoText.email}}</p>
            </div>
        </div>-->

        <div ng-repeat="item in relation.followedCollection" class="box4">
                <div>
                    <h4><a href="#/history/{{item.userId}}">{{ item.userFullName }}</a></h4>
                    <p class="small">{{ item.userEmail }}</p>

                    <kudos-give-kudos email="item.userEmail" index="item.userId" template="'button'"></kudos-give-kudos>

                    <div class="btn-group pull-right" >
                        <button type="button"
                                class="btn btn-sm btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="relation.removeFollowing(item.userId)"><span class="glyphicon glyphicon-remove"></span> Unfollow</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>

    </div>
</div>