
<!-- Button trigger modal -->
<button name="addIdeaButton" id="addIdeaButton"
        data-toggle="modal" data-target="#addIdeaModal"
        class="btn profile-buttons hvr-underline-from-center">
    Add new idea
</button>


<!-- Modal -->
<div id="addIdeaModal" class="modal fade" role="dialog" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="newIdea.clearAddIdeaFormValues()" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new idea to wisdom wall</h4>
            </div>

            <div class="modal-body">
                <form name="addIdeaForm">
                    <div class="form-group col-sm-6">
                        <input ng-model="newIdea.author" class="form-control" id="author" name="author" type="text" placeholder="Author of idea"
                               ng-trim="false" value="{{newIdea.author = newIdea.lengthLimit(newIdea.author, 30)}}"
                               required>
                    </div>
                    <div class="col-sm-12 characters-left-wisdom">
                        <label>Characters left: {{newIdea.symbolsLeft(newIdea.author, 30)}}</label>
                    </div>

                    <div class="form-group col-sm-12">
                        <textarea ng-model="newIdea.idea" class="form-control" id="idea" name="idea" placeholder="Idea"
                                  ng-trim="false" value="{{newIdea.idea = newIdea.lengthLimit(newIdea.idea, 100)}}"
                                  required></textarea>
                    </div>
                    <div class="col-sm-12 characters-left-wisdom">
                        <label>Characters left: {{newIdea.symbolsLeft(newIdea.idea, 100)}}</label>
                    </div>

                    <div ng-class="{fade: startFade}" class="form-group col-sm-12 text-center">
                        <div ng-if="newIdea.addIdeaFormErrorMessage" class="alert alert-danger" role="alert">
                            <strong>Whoops!</strong> {{newIdea.addIdeaFormErrorMessage}}
                        </div>
                    </div>
                </form>

                <button ng-click="newIdea.addIdea()"
                        ng-disabled="newIdea.addNewIdea.$invalid"
                        name="addNewIdeaButton"
                        id="addNewIdeaButton"
                        class="form-control btn btn-login">Add
                </button>

            </div>
        </div>
    </div>
</div>
