<!--
<div class="challenge-participated" ng-if="id">
    <div class="col-lg-12">
        <h4>You have been Challenged!</h4>
    </div>
    <div class="challenge-participated-2">
        <div class="col-lg-8">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    Challenge name:
                </div>
                <div class="col-xs-6">
                    {{challengeName}}
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-xs-6">
                    Creator:
                </div>
                <div class="col-xs-6">
                    {{challengeCreator}}
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-xs-6">
                    Referee:
                </div>
                <div class="col-xs-6">
                    {{challengeReferee}}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    Acorns amount:
                </div>
                <div class="col-xs-6">
                    {{challengeAmount}}
                </div>
            </div>
            <div class="col-lg-12" ng-if="challengeDescription">
                <div class="col-xs-6">
                    Description:
                </div>
                <div class="col-xs-6">
                    {{challengeDescription}}
                </div>
            </div>
            <div class="col-lg-12" ng-if="challengeFinishDate">
                <div class="col-xs-6">
                    Finish date:
                </div>
                <div class="col-xs-6">
                    {{challengeFinishDate}}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-xs-12">
                <button class="btn btn-success btn-challenge-participated" ng-click="acceptChallenge(id)">Accept
                </button>
                <button class="btn btn-danger btn-challenge-participated" ng-click="declineChallenge(id)">Decline
                </button>
            </div>
        </div>
    </div>
</div>
-->
<div class="card card-block box-shadow-animation text-center">
    <div ng-if="id" class="box4">
        <h4 class="card-title text-center">You have been challenged!</h4>
        <p class="card-text"><span class="bold">{{challengeName}}</span>  by
            <span class="bold">{{challengeCreator}}</span>  for
            <span class="badge acorn-bg">{{acornPlural(challengeAmount * 2)}}</span>

        <p ng-if="challengeDescription">Description: {{challengeDescription}}</p>
        <p ng-if="challengeFinishDate">Finish date: {{convertDate(challengeFinishDate)}}</p>

        <button class="btn btn-danger btn-challenge-participated" ng-click="declineChallenge(id, $index)">Decline</button>
        <button class="btn btn-success btn-challenge-participated" ng-click="acceptChallenge(id, $index, challengeAmount)">Accept</button>
    </div>
    <div ng-if="!id">
        <div class="alert alert-info acorn-bg">
            <span class="glyphicon glyphicon-info-sign"></span>
            So far, no one Challenged you
        </div>
    </div>
</div>

<div ng-if="showAllReceived" class="col-lg-pull-5">
    <button href="" class="btn btn-more hvr-underline-from-center"
            data-toggle="modal" data-target="#allReceivedModal"
            ng-click="getAllChallengeParticipatedList()">Hey! You have more!</button>
</div>

<div id="allReceivedModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" ng-click="" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Received challenges</h4>
            </div>
            <div class="card card-block text-center" ng-repeat="list in challengeFullList">
                <div class="card box-shadow-animation">
                    <p class="card-text"><span class="bold">{{list.name}}</span>  by
                        <span class="bold">{{list.creator}}</span>  for
                        <span class="badge acorn-bg">{{acornPlural(list.amount * 2)}}</span>
                    </p>

                    <p ng-if="list.description">Description: {{list.description}}</p>
                    <p ng-if="list.finishDate">Finish date: {{convertDate(list.finishDate)}}</p>

                    <button class="btn btn-danger btn-challenge-participated" ng-click="declineChallenge(list.id, $index)">Decline</button>
                    <button class="btn btn-success btn-challenge-participated" ng-click="acceptChallenge(list.id, $index, list.amount)">Accept</button>

                </div>
            </div>
        </div>
    </div>
</div>