<div id="forgotPassword" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Password Recovery</h4>
            </div>
            <div class="modal-body form-group">

                <errorMessage class="form-group col-sm-12 hidden" id="sendKudosErrorMessage">
                    Enter Email
                </errorMessage>

                <div class="form-group col-sm-12">
                    <input ng-model="recoverPasswordEmail" type="text" id="recoverPasswordEmail"
                           class="form-control" placeholder="Your Email" value="">
                </div>

            </div>

            <button ng-click="" name="recoverPassword" id="recoverPasswordButton" class="form-control btn btn-login">
                Recover
            </button>
        </div>
    </div>
</div>