<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon1">Name:</span>
    <input ng-model="me.firstName" type="text" class="form-control" aria-describedby="sizing-addon1">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon1">Name:</span>
    <input ng-model="me.firstName" type="text" class="form-control" aria-describedby="sizing-addon1">
</div>

<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon2">Surname:</span>
    <input ng-model="me.lastName" type="text" class="form-control" aria-describedby="sizing-addon2">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon2">Surname:</span>
    <input ng-model="me.lastName" type="text" class="form-control" aria-describedby="sizing-addon2">
</div>

<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon6">Department:</span>
    <input ng-model="me.department" type="text" class="form-control" value="{{me.department}}" aria-describedby="sizing-addon6">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon6">Department:</span>
    <input ng-model="me.department" type="text" class="form-control" value="{{me.department}}" aria-describedby="sizing-addon6">
</div>

<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon7">Team:</span>
    <input ng-model="me.team" type="text" class="form-control" value="{{me.team}}" aria-describedby="sizing-addon7">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon7">Team:</span>
    <input ng-model="me.team" type="text" class="form-control" value="{{me.team}}" aria-describedby="sizing-addon7">
</div>

<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon5">Position:</span>
    <input ng-model="me.position" type="text" class="form-control" value="{{me.position}}" aria-describedby="sizing-addon5">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon5">Position:</span>
    <input ng-model="me.position" type="text" class="form-control" value="{{me.position}}" aria-describedby="sizing-addon5">
</div>

<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon8">Phone number:</span>
    <input ng-model="me.phone" type="text" class="form-control" value="{{me.phone}}" aria-describedby="sizing-addon8">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon8">Phone number:</span>
    <input ng-model="me.phone" type="text" class="form-control" value="{{me.phone}}" aria-describedby="sizing-addon8">
</div>

<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon3">Birthday:</span>
    <input ng-model="me.birthday" type="date" value="{{me.birthday}}" class="form-control" aria-describedby="sizing-addon3">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon3">Birthday:</span>
    <input ng-model="me.birthday" type="date" value="{{me.birthday}}" class="form-control" aria-describedby="sizing-addon3">
</div>

<div class="input-group hidden-xs hidden-sm profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon4">Started to work:</span>
    <input ng-model="me.startedToWork" type="date" class="form-control" value="{{me.startedToWork}}" aria-describedby="sizing-addon4">
</div>
<div class="hidden-md hidden-lg profile-input">
    <span class="input-group-addon acorn-bg" id="sizing-addon4">Started to work:</span>
    <input ng-model="me.startedToWork" type="date" class="form-control" value="{{me.startedToWork}}" aria-describedby="sizing-addon4">
</div>