<table class="table">
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Name:</span></td>
        <td>{{me.firstName}}</td>
    </tr>
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Surname:</span></td>
        <td>{{me.lastName}}</td>
    </tr>
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Department:</span></td>
        <td>{{me.department}}</td>
    </tr>
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Team:</span></td>
        <td>{{me.team}}</td>
    </tr>
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Position:</span></td>
        <td>{{me.position}}</td>
    </tr>
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Phone number:</span></td>
        <td>{{me.phone}}</td>
    </tr>
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Birthday:</span></td>
        <td>{{me.birthday}}</td>
    </tr>
    <tr>
        <td><span class="col-sm-5 badge acorn-bg-darker">Started to work:</span></td>
        <td>{{me.startedToWork}}</td>
    </tr>
</table>