<div ng-hide="!me.showLoader" class="loader"></div>

<div class="panel">
    <div class="panel-body">
        <h3>{{me.user.firstName}} {{me.user.lastName}}</h3>
        <p class="small">{{me.user.email}}</p>
        <p href="#">
            <strong>Total Acorns</strong>
            <span data-toggle="tooltip" title="These are the points you have received"
                class="badge acorn-bg">{{me.user.totalKudos}}</span>
        </p>
        <p><strong>Weekly Acorns</strong>
            <span data-toggle="tooltip" title="You can give these points to others during this week"
                  class="badge acorn-bg">{{me.user.weeklyKudos}}</span></p>
        <a href="#/settings" class="">
            <span class="glyphicon glyphicon-cog"></span> Settings
        </a>

    </div>
</div>

