
<div ng-hide="!receivedNewTransaction">
    <button class="dropdown-toggle fixed-element-floating" type="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="true" href="#/notification" ng-click="clearNotifications()"><span class="glyphicon glyphicon-bell "></span>
        <span ng-hide="!receivedNewTransaction" class="top-badge acorn-bg center-block arm"> {{notificationBadgeAmount}} </span>
    </button>
    <!-- TEST BUTTON <button ng-click="saveLastTransactionTimestamp()">Save</button> -->

    <div ng-hide="!notificationsToggle" class="notification-item ">
        <ul class="nav-dropdown">
            <li ng-repeat="transaction in newTransactionCollection"
                class="animate-repeat list-group-item">
                <span class="badge acorn-bg">{{acornPlural(transaction.amount)}}</span>
                <span class="bold">{{transaction.senderName}}</span> send to
                <span class="bold">{{transaction.receiverName}}</span>
            </li>
        </ul>
    </div>
</div>