<kudos-navbar></kudos-navbar>

<div class="container">
    <div class="panel panel-body">
        <ul class="nav nav-tabs ">
            <li role="presentation" class="tab-item" ng-class="receivedAcorns ? '' : 'active'">
                <a href="" ng-click="sentAcorns=true;receivedAcorns=false;giveAcorns=true;">Received</a>
            </li>
            <li role="presentation" class="tab-item" ng-class="sentAcorns ? '' : 'active'">
                <a href="" ng-click="sentAcorns=false;receivedAcorns=true;giveAcorns=true">Sent</a>
            </li>
        </ul>
        <div ng-hide="receivedAcorns">
            <kudos-received-acorns></kudos-received-acorns>
        </div>
        <div ng-hide="sentAcorns">
            <kudos-sent-acorns></kudos-sent-acorns>
        </div>

    </div>

</div>