<title>{{ 'ProfileMe' | translate }}</title>

<nav class="navbar navbar-default navbar-fixed-top kudos-navbar" id="mainnavbar">
    <div class="container-fluid container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ 'ProfileACorn' | translate }}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li ng-controller="AppController">
                    <a ng-hide="lt" id="ltButton" ng-click="lt=true; en=false; changeLanguage('lt')"
                       href="">Lietuvių</a>
                    <a ng-hide="en" id="enButton" ng-click="lt=false; en=true; changeLanguage('en')" href="">English</a>
                </li>
                <li>
                    <a href="" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-user"></span> {{userName}} {{userSurname}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a ng-click="logout()" href="#"><span class="glyphicon glyphicon-log-in"></span>
                            {{ 'ProfileMeLogout' | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <!-- Profile Edit Modal -->
    <ng-include src="'app/profile/partials/user-detail-popup.html'"></ng-include>

    <!-- Send Kudos Modal -->
    <div>
        <kudos-give-kudos></kudos-give-kudos>
    </div>

    <!-- Send Kudos Modal content end -->

    <!-- Give Challenges Modal -->

    <div>
        <kudos-give-challenge></kudos-give-challenge>
    </div>

    <!-- Give Challenges Modal content end -->

    <div class="row">

        <!-- use later col-sm-push-3 -->
        <div class="col-sm-6 col-sm-push-3">

            <div class="panel panel-body">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <h1><b class="acorn-color">{{userAvailableKudos}}</b></h1>
                        <h4>{{ 'ProfileMeCorns' | translate }}</h4>
                        <div class="col-md-12">
                            <button name="giveKudosButton" id="giveKudosButton" ng-click="showSendKudosModal()"
                                    data-toggle="modal" data-target="#sendKudosModal"
                                    class="btn profile-buttons hvr-underline-from-center">{{ 'ProfileMeGiveACorn' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h1><b class="acorn-color">{{userReceivedKudos}}</b></h1>
                        <h4>{{ 'ProfileMeTotalCorns' | translate }}</h4>
                        <div class="col-md-12">
                            <button name="giveChallengeButton" id="challengeButton"
                                    data-toggle="modal" data-target="#giveChallengeModal"
                                    class="btn profile-buttons hvr-underline-from-center" data-placement="top">{{ 'ProfileMeChallenge' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <kudos-challenge-referee></kudos-challenge-referee>

            <div class="panel panel-body">
                <ul class="nav nav-tabs">
                    <h3>My acorns</h3>
                    <li role="presentation" ng-class="sentAcorns ? 'active' : ''"><a href="" ng-click="sentAcorns = true;receivedAcorns=false">Received</a></li>
                    <li role="presentation" ng-class="receivedAcorns ? 'active' : ''"><a href="" ng-click="sentAcorns = false;receivedAcorns=true">Sent</a></li>
                </ul>
                <div class="tab-box" ng-hide="receivedAcorns">
                    <kudos-received-acorns></kudos-received-acorns>
                </div>
                <div class="tab-box" ng-hide="sentAcorns">
                    <kudos-sent-acorns></kudos-sent-acorns>
                </div>
            </div>

            <div class="panel panel-body">
                <kudos-given-challenges></kudos-given-challenges>
            </div>

            <div class="panel panel-body">
                <div class="box-hidden">
                    <kudos-transactions-stream></kudos-transactions-stream>
                </div>
            </div>

        </div>

        <div class="col-sm-3 col-sm-push-3">
            <kudos-challenge-participated></kudos-challenge-participated>
            <!-- KUDOS FEED BUTTON DROPDOWN
            <div class="box4">
                <h4>Acorns feed</h4>
                <button class="btn sidebar-buttons dropdown-toggle" type="button" id="dropdownFeed"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Feed <span class="badge acorn-bg">4</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu kudos-dropdown" aria-labelledby="dropdownFeed">
                    <kudos-transactions-stream></kudos-transactions-stream>
                </ul>
            </div>


            <div class="box4">
                <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ 'ProfileMeTodayBirthday' |
                    translate }}</h4>
                <p>Lorem</p>
            </div>

            <div class="box4">
                <h4><span class="glyphicon glyphicon-king" aria-hidden="true"></span> {{ 'ProfileMeChallengeWinner' |
                    translate }}</h4>
                <p>Foosbal</p>
                <h5>
                    <small>2020-20-20</small>
                </h5>
            </div>

            <div class="box4">
                <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{ 'ProfileMeEngagementLeaders' |
                    translate }}</h4>
                <p>Dolor Matil</p>
            </div>

            <div class="box4">
                <h4>{{ 'ProfileMeWisdomWall' | translate }}</h4>
                <p>"Dolores sit amit"</p>
            </div>

            <div class="box4">
                <h4>{{ 'ProfileMeTopReceivers' | translate }}</h4>
            </div>
            <div class="box4">
                <h4>{{ 'ProfileMeTopSenders' | translate }}</h4>
            </div>

        </div>

        <div class="col-sm-3 col-sm-pull-9">
        -->


            <!--    <div class="box4">
                    <h3>{{userName}} {{userSurname}}</h3>
                    <h4>{{userPosition}}</h4>

                    <p>{{'ProfileMeLocation' | translate }}: {{userLocation}}</p>
                    <p>{{'ProfileMeEmail' | translate }}: {{userEmail}}</p>
                    <p>{{'ProfileMePhone' | translate }}: {{userPhone}}</p>
                    <p>{{'ProfileMeTeam' | translate }}: {{userTeam}}</p>
                    <p>{{'ProfileMeStartedToWork' | translate }}: {{userStartedToWork}}</p>
                    <p>{{'ProfileMeBirthday' | translate }}: {{userBirthday}}</p>

                    <button type="button" data-toggle="modal" data-target="#userDetailsModal"
                            class="btn btn-default btn-sm">
                        {{'ProfileMeEdit' | translate }}
                    </button>
                </div>  -->

        </div>

    </div>


</div>