<title>{{ 'ProfileMe' | translate }}</title>

<nav class="navbar navbar-default navbar-fixed-top kudos-navbar" id="mainnavbar">
    <div class="container-fluid container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ 'ProfileACorn' | translate }}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <!-- LEFT SIDE OF NAV
            <ul class="nav navbar-nav navbar-left">
                <li><a href="" class="dropdown-toggle" type="button" id="dropdownFeed" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">Feed <span class="badge acorn-bg">2</span></a>
                    <ul class="dropdown-menu kudos-dropdown" aria-labelledby="dropdownFeed">
                        <kudos-transactions-stream></kudos-transactions-stream>
                    </ul>
                </li>
            </ul>
            -->
            <!-- RIGHT SIDE OF NAV -->
            <ul class="nav navbar-nav navbar-right">
                <li ng-controller="AppController">
                    <a ng-hide="lt" id="ltButton" ng-click="lt=true; en=false; changeLanguage('lt')"
                       href="">Lietuvių</a>
                    <a ng-hide="en" id="enButton" ng-click="lt=false; en=true; changeLanguage('en')" href="">English</a>
                </li>
                <li>
                    <a href="" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-user"></span> {{userName}} {{userSurname}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a ng-click="logout()" href="#"><span class="glyphicon glyphicon-log-in"></span>
                            {{ 'ProfileMeLogout' | translate }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container panel panel-body profile-body">

    <!-- Profile Edit Modal -->
    <ng-include src="'app/profile/partials/user-detail-popup.html'"></ng-include>

    <!-- Send Kudos Modal -->
    <div id="sendKudosModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="clearSendKudosFormValues()" class="close"
                            data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'SEND_KUDOS_POPUP_TITLE' | translate }}</h4>
                </div>

                <div class="modal-body">
                    <form name="sendKudosForm">
                        <div class="form-group col-sm-6">
                            <!-- INPUT RECEIVER -->
                            <input ng-model="sendKudosTo" ng-class="fieldReceiverErrorClass"
                                   ng-change="inputChanged()" id="sendKudosTo"
                                   name="sendKudosTo" type="text" class="form-control"
                                   autocomplete="off"
                                   placeholder="{{ 'SEND_KUDOS_SENDING_TO_HINT' | translate }}">
                            <div class="autocomplete" ng-show="autocompleteHide==false">
                                    <div
                                        ng-repeat="autoText in usersCollection | filter:sendKudosTo"
                                        ng-click="selectAutoText(autoText.email)">
                                        <p>{{autoText.firstName}} {{autoText.lastName}}</p>
                                        <p class="small">{{autoText.email}}</p>
                                    </div>
                            </div>
                            <p ng-class="receiverErrorClass" class="small">{{receiverErrorMessage}}</p>
                        </div>
                        <!-- INPUT AMOUNT -->
                        <div class="form-group col-sm-6">
                            <input ng-model="sendKudosAmount" ng-change="inputChanged()"
                                   ng-class="{invalid : sendKudosForm.sendKudosAmount.$invalid}" id="sendKudosAmount"
                                   name="sendKudosAmount" type="number" ng-pattern="/^[0-9]+$/"
                                   class="form-control" min="1" max="{userAvailableKudos
                                  }"
                                   placeholder="{{'SEND_KUDOS_AMOUNT_HINT' | translate }}" required>
                        </div>

                        <div class="form-group col-sm-12" id="sendKudosErrorMessage">
                            <p ng-class="errorClass" class="text-center">{{sendKudosErrorMessage}}</p>
                        </div>
                    </form>

                    <button ng-click="sendKudos()" name="sendKudosButton" id="sendKudosButton"
                            class="form-control btn btn-login" ng-disabled="buttonDisabled">Give
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- Send Kudos Modal content end -->

    <!-- Give Challenges Modal -->
    <div id="giveChallengeModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="clearChallengeFormValues()" class="close"
                            data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'GIVE_CHALLENGE_POPUP_TITLE' | translate }}</h4>
                </div>

                <div class="modal-body">
                    <form name="giveChallengeForm">
                        <div class="form-group col-sm-6">
                            <label for="giveChallengeName">{{ 'GIVE_CHALLENGE_NAME' | translate }}</label>
                            <input ng-model="giveChallengeName" class="form-control"
                                   id="giveChallengeName" name="giveChallengeName" type="text" required>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="giveChallengeAmountOfKudos">{{'GIVE_CHALLENGE_AMOUNT' | translate }} | Max: {{userAvailableKudos}}</label>
                            <input ng-model="giveChallengeAmountOfKudos"
                                   id="giveChallengeAmountOfKudos"
                                   name="giveChallengeAmountOfKudos" type="number" ng-pattern="/^[0-9]+$/"
                                   class="form-control" min="1" max="{userAvailableKudos}" required>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="giveChallengeTo">{{'GIVE_CHALLENGE_TO' | translate }}</label>
                            <input ng-model="giveChallengeTo" class="form-control"
                                   id="giveChallengeTo"
                                   name="giveChallengeTo" type="email" required>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="giveChallengeReferee">{{'GIVE_CHALLENGE_REFEREE' | translate }}</label>
                            <input ng-model="giveChallengeReferee" class="form-control"
                                   id="giveChallengeReferee"
                                   name="giveChallengeReferee" type="email" required>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="giveChallengeDescription">{{'GIVE_CHALLENGE_OPTIONAL_FIELD_DESCRIPTION' | translate }} (optional)</label>
                            <textarea ng-model="giveChallengeDescription" class="form-control"
                                      id="giveChallengeDescription"
                                      name="giveChallengeDescription">
                            </textarea>
                        </div>

                        <div class="form-group col-sm-12">
                            <label for="giveChallengeExpirationDate">{{'GIVE_CHALLENGE_OPTIONAL_FIELD_EXPIRATION' | translate }} (optional)</label>
                            <input ng-model="giveChallengeExpirationDate" class="form-control"
                                   id="giveChallengeExpirationDate"
                                   name="giveChallengeExpirationDate" type="datetime-local">
                        </div>

                        <div class="form-group col-sm-12" id="challengeFormErrorMessage">
                            <p ng-class="errorClass" class="text-center">{{challengeFormErrorMessage}}</p>
                        </div>
                    </form>

                    <button ng-click="giveChallenge()" name="giveChallengeButton" id="giveChallengeButton"
                            class="form-control btn btn-login">{{'GIVE_CHALLENGE_GIVE_BUTTON' | translate}}
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!-- Give Challenges Modal content end -->

    <div class="row">

        <!-- use later col-sm-push-3 -->
        <div class="col-sm-6 col-sm-push-3">

            <div class="row text-center">
                <div class="col-xs-6">
                    <h1><b class="acorn-color">{{userAvailableKudos}}</b></h1>
                    <h4>{{ 'ProfileMeCorns' | translate }}</h4>
                    <div class="col-md-12">
                        <button name="giveKudosButton" id="giveKudosButton" ng-click="showSendKudosModal()"
                                data-toggle="modal" data-target="#sendKudosModal"
                                class="btn profile-buttons hvr-underline-from-center">{{ 'ProfileMeGiveACorn' |
                            translate }}
                        </button>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h1><b class="acorn-color">{{userReceivedKudos}}</b></h1>
                    <h4>{{ 'ProfileMeTotalCorns' | translate }}</h4>
                    <div class="col-md-12">
                        <button name="giveChallengeButton" id="challengeButton"
                                data-toggle="modal" data-target="#giveChallengeModal"
                                class="btn profile-buttons hvr-underline-from-center" data-placement="top">{{ 'ProfileMeChallenge' |
                            translate }}
                        </button>
                    </div>
                </div>
            </div>

            <kudos-received-acorns></kudos-received-acorns>

            <kudos-sent-acorns></kudos-sent-acorns>



            <h3>{{ 'ProfileMeGivenChallenges' | translate }}</h3>
            <div class="table-responsive">
                <table class="table">
                    <colgroup>
                        <col class="col-xs-6" />
                        <col class="col-xs-2" />
                        <col class="col-xs-2" />
                        <col class="col-xs-2" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>{{'ProfileMeChallengeName' | translate }}</th>
                        <th>{{'ProfileMeExpirationDate' | translate }}</th>
                        <th>{{'ProfileMeKudosAmount' | translate }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="animate-repeat"
                        ng-repeat="givenChallenges in givenChallengesCollection"
                        ng-show="givenChallenges.status == 'CREATED'">
                        <td>
                            <i ng-click="showMoreInfo(givenChallenges.id)" ng-show="!givenChallenges.show" class="glyphicon glyphicon-chevron-down"></i>
                            <i ng-click="showLessInfo(givenChallenges.id)" ng-show="givenChallenges.show" class="glyphicon glyphicon-chevron-up"></i>
                            {{givenChallenges.name}}

                            <div ng-show="givenChallenges.show">
                                <div>Description: {{givenChallenges.description}}</div>
                                <div>Challenge creator: {{givenChallenges.creator}}</div>
                                <div>Referee of the challenge: {{givenChallenges.referee}}</div>
                            </div>
                        </td>

                        <td>{{givenChallenges.finishDate}}</td>
                        <td>{{givenChallenges.amount}}</td>
                        <td>
                            <i ng-click="cancelChallenge(givenChallenges.id)" ng-show="givenChallenges.finishDate == null" class="glyphicon glyphicon-remove"></i>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-sm-3 col-sm-push-3">

            <!-- KUDOS FEED BUTTON DROPDOWN
            <div class="box4">
                <h4>Acorns feed</h4>
                <button class="btn sidebar-buttons dropdown-toggle" type="button" id="dropdownFeed"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Feed <span class="badge acorn-bg">4</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu kudos-dropdown" aria-labelledby="dropdownFeed">
                    <kudos-transactions-stream></kudos-transactions-stream>
                </ul>
            </div>


            <div class="box4">
                <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ 'ProfileMeTodayBirthday' |
                    translate }}</h4>
                <p>Lorem</p>
            </div>

            <div class="box4">
                <h4><span class="glyphicon glyphicon-king" aria-hidden="true"></span> {{ 'ProfileMeChallengeWinner' |
                    translate }}</h4>
                <p>Foosbal</p>
                <h5>
                    <small>2020-20-20</small>
                </h5>
            </div>

            <div class="box4">
                <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{ 'ProfileMeEngagementLeaders' |
                    translate }}</h4>
                <p>Dolor Matil</p>
            </div>

            <div class="box4">
                <h4>{{ 'ProfileMeWisdomWall' | translate }}</h4>
                <p>"Dolores sit amit"</p>
            </div>

            <div class="box4">
                <h4>{{ 'ProfileMeTopReceivers' | translate }}</h4>
            </div>
            <div class="box4">
                <h4>{{ 'ProfileMeTopSenders' | translate }}</h4>
            </div>

        </div>

        <div class="col-sm-3 col-sm-pull-9">
        -->

            <div class="box-hidden">
                <kudos-transactions-stream></kudos-transactions-stream>
            </div>

            <!--    <div class="box4">
                    <h3>{{userName}} {{userSurname}}</h3>
                    <h4>{{userPosition}}</h4>

                    <p>{{'ProfileMeLocation' | translate }}: {{userLocation}}</p>
                    <p>{{'ProfileMeEmail' | translate }}: {{userEmail}}</p>
                    <p>{{'ProfileMePhone' | translate }}: {{userPhone}}</p>
                    <p>{{'ProfileMeTeam' | translate }}: {{userTeam}}</p>
                    <p>{{'ProfileMeStartedToWork' | translate }}: {{userStartedToWork}}</p>
                    <p>{{'ProfileMeBirthday' | translate }}: {{userBirthday}}</p>

                    <button type="button" data-toggle="modal" data-target="#userDetailsModal"
                            class="btn btn-default btn-sm">
                        {{'ProfileMeEdit' | translate }}
                    </button>
                </div>  -->

        </div>

    </div>


</div>