<title>Home</title>

<kudos-navbar></kudos-navbar>

<div class="container">

    <!-- Profile Edit Modal -->
    <ng-include src="'app/profile/partials/user-detail-popup.html'"></ng-include>

    <!-- Send Kudos Modal -->
    <div>
        <kudos-give-kudos></kudos-give-kudos>
    </div>

    <!-- Send Kudos Modal content end -->

    <!-- Give Challenges Modal -->

    <div>
        <kudos-give-challenge></kudos-give-challenge>
    </div>

    <!-- Give Challenges Modal content end -->

    <div class="row">

        <!-- use later col-sm-push-3 -->
        <div class="col-md-6 col-md-push-3">
            <kudos-info></kudos-info>

            <div class="panel panel-body">
                <div class="row text-center">
                    <div class="col-lg-6 col-sm-6">
                        <div ng-hide="!showLoaderUserAvailableKudos" class="loader"></div>
                        <h1>
                            <b class="acorn-color">{{userAvailableKudos}}

                            </b>
                        </h1>
                        <h4>{{ 'ProfileMeCorns' | translate }}</h4>
                        <div class="col-md-12">
                            <button name="giveKudosButton" id="giveKudosButton"
                                    data-toggle="modal" data-target="#sendKudosModal"
                                    class="btn profile-buttons hvr-underline-from-center">
                                {{ 'ProfileMeGiveACorn' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div ng-hide="!showLoaderUserReceivedKudos" class="loader"></div>
                        <h1><b class="acorn-color">{{userReceivedKudos}}</b></h1>
                        <h4>{{ 'ProfileMeTotalCorns' | translate }}</h4>
                        <div class="col-md-12">
                            <button name="giveChallengeButton" id="challengeButton"
                                    data-toggle="modal" data-target="#giveChallengeModal"
                                    class="btn profile-buttons hvr-underline-from-center" data-placement="top">
                                {{ 'ProfileMeChallenge' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <ul class="nav nav-pills">
                    <h3>Challenges</h3>
                    <li role="presentation" ng-class="new ? 'active' : ''"><a href="" ng-click="ongoing = false;new=true;completed=false">New</a></li>
                    <li role="presentation" ng-class="ongoing ? 'active' : ''"><a href="" ng-click="ongoing = true;new=false;completed=false">Ongoing</a></li>
                    <li role="presentation" ng-class="completed ? 'active' : ''"><a href="" ng-click="ongoing = false;new=false;completed=true">Completed</a></li>
                </ul>
                <div class="" ng-show="ongoing">
                    <kudos-challenge-ongoing></kudos-challenge-ongoing>
                </div>
                <div class="" ng-show="new">
                    <kudos-challenge-new></kudos-challenge-new>
                </div>
                <div class="" ng-show="completed">
                    <kudos-challenge-completed></kudos-challenge-completed>
                </div>
            </div>

        </div>

        <div class="col-md-3 col-md-push-3">

            <div class="panel">
                <div class="panel-body">
                    <h3><span class="glyphicon glyphicon-star acorn-color"></span> Leaderboard</h3>
                    <kudos-leaderboard-filter></kudos-leaderboard-filter>
                    <ul class="nav nav-pills">
                        <li role="presentation" ng-class="topReceivers ? 'active' : ''"><a href="" ng-click="topReceivers=true; topSenders=false;">Top receivers</a></li>
                        <li role="presentation" ng-class="topSenders ? 'active' : ''"><a href="" ng-click="topReceivers=false; topSenders=true;">Top senders</a></li>
                    </ul>
                    <div ng-show="topReceivers">
                        <kudos-top-receivers></kudos-top-receivers>
                    </div>
                    <div ng-show="topSenders">
                        <kudos-top-senders></kudos-top-senders>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <h3><span class="glyphicon glyphicon-education acorn-color"></span> Wisdom wall</h3>
                    <wisdom-wall-ideas></wisdom-wall-ideas>
                </div>
            </div>

        </div>

        <!--
            <div class="box4">
                <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ 'ProfileMeTodayBirthday' | translate }}</h4>
                <p>Coming soon!</p>
            </div>
        -->
        <div class="col-md-3 col-md-pull-9">
        <!--    <div class="box4">
                <h2>User</h2>
            </div> -->
        </div>

    </div>
</div>