<title>Home</title>

<kudos-navbar></kudos-navbar>

<div class="container">

    <!-- Profile Edit Modal -->
    <ng-include src="'app/profile/partials/user-detail-popup.html'"></ng-include>

    <!-- Send Kudos Modal -->
    <div>
        <kudos-give-kudos></kudos-give-kudos>
    </div>

    <!-- Send Kudos Modal content end -->

    <!-- Give Challenges Modal -->

    <div>
        <kudos-give-challenge></kudos-give-challenge>
    </div>

    <!-- Give Challenges Modal content end -->

    <div class="row">

        <!-- use later col-sm-push-3 -->
        <div class="col-sm-6 col-sm-push-3">
            <kudos-info></kudos-info>
            <div class="panel panel-body">
                <div ng-hide="!showLoader" class="loader"></div>
                <div class="row text-center">
                    <div class="col-lg-6 col-sm-6">
                        <h1><b class="acorn-color">{{userAvailableKudos}}</b></h1>
                        <h4>{{ 'ProfileMeCorns' | translate }}</h4>
                        <div class="col-md-12">
                            <button name="giveKudosButton" id="giveKudosButton"
                                    data-toggle="modal" data-target="#sendKudosModal"
                                    class="btn profile-buttons hvr-underline-from-center">
                                {{ 'ProfileMeGiveACorn' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <h1><b class="acorn-color">{{userReceivedKudos}}</b></h1>
                        <h4>{{ 'ProfileMeTotalCorns' | translate }}</h4>
                        <div class="col-md-12">
                            <button name="giveChallengeButton" id="challengeButton"
                                    data-toggle="modal" data-target="#giveChallengeModal"
                                    class="btn profile-buttons hvr-underline-from-center" data-placement="top">
                                {{ 'ProfileMeChallenge' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-body">
                <ul class="nav nav-pills">
                    <h3>Challenges</h3>
                    <li role="presentation" ng-class="received ? 'active' : ''"><a href="" ng-click="ongoing = false;received=true;given=false">Received</a></li>
                    <li role="presentation" ng-class="ongoing ? 'active' : ''"><a href="" ng-click="ongoing = true;received=false;given=false">Ongoing</a></li>
                    <li role="presentation" ng-class="given ? 'active' : ''"><a href="" ng-click="ongoing = false;received=false;given=true">Given</a></li>
                </ul>
                <div class="" ng-show="ongoing">
                    <kudos-challenge-ongoing></kudos-challenge-ongoing>
                </div>
                <div class="" ng-show="received">
                    <kudos-challenge-participated></kudos-challenge-participated>
                </div>
                <div class="" ng-show="given">
                    <kudos-given-challenges></kudos-given-challenges>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-sm-push-3 panel hidden-xs hidden-md hidden-sm">
        <ul class="nav nav-pills">
            <h3><span class="glyphicon glyphicon-star acorn-color"></span> Leaderboard</h3>
            <li role="presentation" ng-class="topReceivers ? 'active' : ''"><a href="" ng-click="topReceivers=true; topSenders=false;">Top receivers</a></li>
            <li role="presentation" ng-class="topSenders ? 'active' : ''"><a href="" ng-click="topReceivers=false; topSenders=true;">Top senders</a></li>
        </ul>
        <div class="" ng-show="topReceivers">
            <kudos-top-receivers></kudos-top-receivers>
        </div>
        <div class="" ng-show="topSenders">
            <kudos-top-senders></kudos-top-senders>
        </div>

    </div>

        <div class="col-lg-3 col-sm-3 col-sm-offset-3 panel">
            <div class="panel-body">
            <h3><span class="glyphicon glyphicon-education acorn-color"></span> Wisdom wall</h3>
            <wisdom-wall-ideas></wisdom-wall-ideas>
            </div>
        </div>

        <div class="col-sm-3 col-sm-push-3">

            <!-- KUDOS FEED BUTTON DROPDOWN
            <div class="box4">
                <h4>Acorns feed</h4>
                <button class="btn sidebar-buttons dropdown-toggle" type="button" id="dropdownFeed"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Feed <span class="badge acorn-bg">4</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu kudos-dropdown" aria-labelledby="dropdownFeed">
                    <kudos-transactions-stream></kudos-transactions-stream>
                </ul>
            </div>
            <div class="box4">
                <h4><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ 'ProfileMeTodayBirthday' |
                    translate }}</h4>
                <p>Lorem</p>
            </div>
            <div class="box4">
                <h4><span class="glyphicon glyphicon-king" aria-hidden="true"></span> {{ 'ProfileMeChallengeWinner' |
                    translate }}</h4>
                <p>Foosbal</p>
                <h5>
                    <small>2020-20-20</small>
                </h5>
            </div>
            <div class="box4">
                <h4><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{ 'ProfileMeEngagementLeaders' |
                    translate }}</h4>
                <p>Dolor Matil</p>
            </div>
            <div class="box4">
                <h4>{{ 'ProfileMeWisdomWall' | translate }}</h4>
                <p>"Dolores sit amit"</p>
            </div>
            <div class="box4">
                <h4>{{ 'ProfileMeTopReceivers' | translate }}</h4>
            </div>
            <div class="box4">
                <h4>{{ 'ProfileMeTopSenders' | translate }}</h4>
            </div>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
        -->


            <!--    <div class="box4">
                    <h3>{{userName}} {{userSurname}}</h3>
                    <h4>{{userPosition}}</h4>
                    <p>{{'ProfileMeLocation' | translate }}: {{userLocation}}</p>
                    <p>{{'ProfileMeEmail' | translate }}: {{userEmail}}</p>
                    <p>{{'ProfileMePhone' | translate }}: {{userPhone}}</p>
                    <p>{{'ProfileMeTeam' | translate }}: {{userTeam}}</p>
                    <p>{{'ProfileMeStartedToWork' | translate }}: {{userStartedToWork}}</p>
                    <p>{{'ProfileMeBirthday' | translate }}: {{userBirthday}}</p>
                    <button type="button" data-toggle="modal" data-target="#userDetailsModal"
                            class="btn btn-default btn-sm">
                        {{'ProfileMeEdit' | translate }}
                    </button>
                </div>  -->

        </div>

    </div>


</div>