<kudos-navbar></kudos-navbar>

<div class="container panel">

    <nav>
        <ul class="nav nav-pills">
            <li ng-class="acorn.isAcornSelected ? 'active' : ''">
                <a ng-click="acorn.toggleNavPills('acorn')" href="" >Acorns</a>
            </li>
            <li ng-class="acorn.isChallengeSelected? 'active' : ''">
                <a ng-click="acorn.toggleNavPills('challenge')" href="">Challenges</a>
            </li>
        </ul>

        <div ng-if="acorn.isAcornSelected" class="history-switch-box">
            <div class="text-left">
                <input value="wonLost"
                       ng-click="acorn.getReceivedKudosHistory(acorn.defaultPageParams)"
                       type="radio"
                       id="historyWonLost"
                       name="userHistoryChallenges" checked/>
                <label for="historyWonLost"><span></span>Sent and Received</label>

                <input value="sent"
                       ng-click="acorn.getSentKudosHistory(acorn.defaultPageParams)"
                       type="radio"
                       id="historyWon"
                       name="userHistoryChallenges" />
                <label for="historyWon"><span></span>Sent</label>

                <input value="received"
                       ng-click="acorn.getReceivedKudosHistory(acorn.defaultPageParams)"
                       type="radio"
                       id="historyLost"
                       name="userHistoryChallenges" />
                <label for="historyLost"><span></span>Received</label>

                <div class="checkbox">
                    <label class="checkbox-inline"><input ng-change="acorn.getSentKudosHistory(acorn.defaultPageParams)" type="checkbox" value="" checked>Sent</label>
                    <label class="checkbox-inline"><input ng-change="acorn.getReceivedKudosHistory(acorn.defaultPageParams)" type="checkbox" value="">Received</label>
                </div>

            </div>
        </div>

        <div ng-if="acorn.isChallengeSelected" class="history-switch-box">
            <div class="text-left">
                <input value="wonLost"
                       ng-click="acorn.getReceivedKudosHistory(acorn.defaultPageParams)"
                       type="radio"
                       id="accomplishedFailed"
                       name="userHistoryChallenges"/>
                <label for="accomplishedFailed"><span></span>Accomplished and Failed</label>

                <input value="sent"
                       ng-click="acorn.getAccomplishedChallenges(acorn.defaultPageParams)"
                       type="radio"
                       id="Acomplished"
                       name="userHistoryChallenges" />
                <label for="Acomplished"><span></span>Accomplished</label>

                <input value="received"
                       ng-click="acorn.getFailedChallenges(acorn.defaultPageParams)"
                       type="radio"
                       id="failed"
                       name="userHistoryChallenges" />
                <label for="failed"><span></span>Failed</label>

                <div class="checkbox">
                    <label class="checkbox-inline"><input ng-click="acorn.getAccomplishedChallenges(acorn.defaultPageParams)" type="checkbox" value="" checked>Accomplished</label>
                    <label class="checkbox-inline"><input ng-click="acorn.getFailedChallenges(acorn.defaultPageParams)" type="checkbox" value="">Failed</label>
                </div>

            </div>
        </div>

    </nav>


    <div class="panel-body">
        <div ng-if="acorn.isAcornSelected" class="text-center">
            <div ng-repeat="item in acorn.givenKudosCollection">
                <div class="box4">
                    <p>
                        <span class="bold breakword">{{item.senderFullName}}</span> {{acorn.historyString}}
                        <span class="bold">{{item.receiverFullName}}</span>
                        <span class="badge acorn-bg">{{acorn.acornPlural(item.amount)}}</span>
                    </p>
                    <p>{{item.message}}</p>
                </div>
            </div>
        </div>

        <div ng-if="acorn.isChallengeSelected" class="text-center">
            <div ng-repeat="item in acorn.givenKudosCollection">
                <div class="box4">
                    <p>
                        <span class="bold breakword">{{item.participantFullName}}</span> {{acorn.historyString}}
                        <span class="bold">{{item.creatorFullName}}</span> for
                        <span class="badge acorn-bg">{{acorn.acornPlural(item.amount)}}</span> with title
                        <span class="bold">{{item.name}}</span>
                        <br>
                        <span ng-if="item.description"> and description <span class="bold">{{item.description}}</span></span>
                    </p>
                    <p>{{item.message}}</p>
                </div>
            </div>
        </div>

        <div ng-if="givenKudosCollection.length === 0">
            <div class="alert alert-info acorn-bg text-center">
                <strong>Whoops!</strong> You have not gave any acorns to anyone yet
            </div>
        </div>

    </div>
</div>