<div class="card card-block text-center">
    <div ng-if="showList" class="card box4 box-shadow-animation" ng-repeat="list in ongoingChallengeList | orderBy:'-createDateDate'">
        <p class="card-text">You will have to <span class="bold">{{list.name}}</span>  by
            <span class="bold" ng-if="list.creator != userEmail">{{list.creator}}</span>
            <span class="bold" ng-if="list.participant != userEmail">{{list.participant}}</span>
            for
            <span class="badge acorn-bg">{{acornPlural(list.amount * 2)}}</span>
        </p>

        <p ng-if="list.description">Description: {{list.description}}</p>
        <p ng-if="list.finishDate">Finish date: {{convertDate(list.finishDate)}}</p>

        <div ng-if="isSelected(list)">
            <label>{{selectedMessage}}</label>
        </div>

        <div ng-if="showButtons(list)">
            <button ng-hide="buttons" class="btn btn-danger btn-challenge-participated" ng-click="lost(list.id, list.amount); buttons = true">I lost</button>
            <button ng-hide="buttons" class="btn btn-success btn-challenge-participated" ng-click="won(list.id, list.amount); buttons = true">I won</button>
        </div>
        <div ng-if="!showButtons(list)">
            <label>Waiting for other user to select</label>
        </div>
        <div ng-show="buttons">
            <label>Waiting for other user to select</label>
        </div>
    </div>

    <div ng-if="!showList">
        <div class="alert alert-info acorn-bg">
            <span class="glyphicon glyphicon-info-sign"></span>
            You do not have any ongoing Challenge
        </div>
    </div>
</div>