<div class="text-center">
    <div ng-if="chOngoing.ongoingChallengeList[0]" class="card box4 box-shadow-animation" ng-repeat="challenge in chOngoing.ongoingChallengeList">

        <p class="card-text" ng-if="challenge.participantEmail == chOngoing.userEmail">
            <span class="bold">{{challenge.name}}</span> received from
            <span class="bold">{{challenge.creatorEmail}}</span> for
            <span class="badge acorn-bg">{{chOngoing.acornPlural(challenge.amount * 2)}}</span>
        </p>

        <p class="card-text" ng-if="challenge.creatorEmail == chOngoing.userEmail">
            <span class="bold">{{challenge.name}}</span> given to
            <span class="bold">{{challenge.participantEmail}}</span> for
            <span class="badge acorn-bg">{{chOngoing.acornPlural(challenge.amount * 2)}}</span>
        </p>

        <p ng-if="challenge.description">Description: {{challenge.description}}</p>
        <p ng-if="challenge.finishDate">Finish date: {{chOngoing.convertDate(challenge.finishDate)}}</p>

        <div ng-if="chOngoing.isSelected(challenge)">
            <label>{{chOngoing.selectedMessage}}</label>
        </div>

        <div ng-if="chOngoing.showButtons(challenge)">
            <button ng-hide="chOngoing.buttons[$index]" class="btn btn-danger btn-challenge-participated" ng-click="chOngoing.lost(challenge);">I lost</button>
            <button ng-hide="chOngoing.buttons[$index]" class="btn btn-success btn-challenge-participated" ng-click="chOngoing.won(challenge);">I won</button>
        </div>
        <div ng-if="!chOngoing.showButtons(challenge)">
            <label>Waiting for other user to select</label>
        </div>
        <div ng-show="chOngoing.buttons[$index]">
            <label>Waiting for other user to select</label>
        </div>
    </div>

    <div ng-if="!chOngoing.ongoingChallengeList[0]">
        <div class="alert alert-info acorn-bg margin-top">
            <span class="glyphicon glyphicon-info-sign"></span>
            You do not have any ongoing Challenge
        </div>
    </div>
</div>