<title>{{ 'registrationTitle' | translate }}</title>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#/login" class="" id="login-form-link">{{ 'registrationLogin' | translate }}</a>
            </div>
            <div class="col-xs-6">
              <a href="" class="active" id="register-form-link">{{ 'registrationTitle' | translate }}</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
                <form id="registrationForm" method="post" name="registrationForm">
                  <div class="form-group">

                      <div ng-messages="registrationForm.name.$error" >
                        <errorMessage ng-message="required">{{ 'registrationErrorName' | translate }}</errorMessage>
                      </div>
                    <input ng-model="firstName" type="text" name="name" id="name" tabindex="1" class="valid" placeholder="{{ 'registrationName' | translate }}" value="" required>

                  </div>
                  <div class="form-group">

                    <div ng-messages="registrationForm.surname.$error">
                      <errorMessage ng-message="required">{{ 'registrationErrorSurname' | translate }}</errorMessage>
                    </div>
                    <input ng-model="lastName" type="text" name="surname" id="surname" tabindex="2" class="valid" placeholder="{{ 'registrationSurname' | translate  }}" required>

                  </div>
                  <div class="form-group">

                    <div ng-messages="registrationForm.email.$error">
                      <errorMessage ng-message="required">{{ 'registrationEnterEmail' | translate }}</errorMessage>
                      <errorMessage ng-message="email">{{ 'registrationErrorEmail' | translate }}</errorMessage>
                    </div>
                    <input ng-model="email" type="email" name="email" id="email" tabindex="3" class="valid" placeholder="{{ 'registrationEmail' | translate  }}" required>

                  </div>
                  <div class="form-group">

                    <div ng-messages="registrationForm.password.$error">
                      <errorMessage ng-message="required">{{ 'registrationErrorPassword' | translate }}</errorMessage>
                    </div>
                    <input ng-model="password" type="password" name="password" id="password" tabindex="4" class="valid" placeholder="{{ 'registrationPassword' | translate  }}" required>

                  </div>
                  <div class="form-group">

                    <div ng-messages="registrationForm.confirmPassword.$error">
                      <errorMessage ng-message="required">{{ 'registrationErrorConfirmPassword' | translate }}</errorMessage>
                    </div>
                    <input ng-model="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" tabindex="5" class="valid" placeholder="{{ 'registrationConfirmPassword' | translate }}" required>

                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <button ng-click="register()" name="register" id="register" tabindex="6" class="valid btn btn-login">
                            {{ 'registrationButton' | translate  }}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>