<title>{{ language.registrationTitle }}</title>
<div class="container">
  <div class="row">
      <div class="col-sm-2 col-md-offset-3">
          <div class="languages panel-body">

              <button type="button" id="ltButton" class="btn btn-sm" ng-click="changeLanguageToLT()"> LT</button>
              <button type="button" id="enButton" class="btn btn-sm" ng-click="changeLanguageToENG()"> EN</button>

          </div>
      </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#/login" class="" id="login-form-link">{{ language.registrationLogin }}</a>
            </div>
            <div class="col-xs-6">
              <a href="" class="active" id="register-form-link">{{ language.registrationTitle }}</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="registration-form" role="form" style="display: block;">
                <form id="login-form" action="" method="post" role="form" style="display: block;">
                  <div class="form-group">
                      <errorMessage id="nameError"></errorMessage>
                    <input ng-model="firstName" type="text" name="name" id="name" tabindex="1" class="valid" placeholder="{{ language.registrationName }}" value="">
                  </div>
                  <div class="form-group">
                      <errorMessage id="surnameError"></errorMessage>
                    <input ng-model="lastName" type="text" name="surname" id="surname" tabindex="2" class="valid" placeholder="{{ language.registrationSurname }}">
                  </div>
                  <div class="form-group">
                      <errorMessage id="emailError"></errorMessage>
                    <input ng-model="email" type="text" name="email" id="email" tabindex="3" class="valid" placeholder="{{ language.registrationEmail }}">
                  </div>
                  <div class="form-group">
                      <errorMessage id="passwordError"></errorMessage>
                    <input ng-model="password" type="password" name="password" id="password" tabindex="4" class="valid" placeholder="{{ language.registrationPassword }}">
                  </div>
                  <div class="form-group">
                      <errorMessage id="confirmPasswordError"></errorMessage>
                    <input ng-model="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" tabindex="5" class="valid" placeholder="{{ language.registrationConfirmPassword }}">
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <button ng-click="Register()" name="register" id="register" tabindex="6" class="valid btn btn-login">
                            {{ language.registrationButton }}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>