<title>Following</title>

<kudos-navbar></kudos-navbar>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <kudos-relationship></kudos-relationship>
                </div>
            </div>
        </div>

        <!--<div class="col-lg-6">
            <div class="well">
                <kudos-relationship-feed></kudos-relationship-feed>
            </div>
        </div>-->
    </div>
</div>